# GraphRAG Guide with PostgreSQL

## Loading data, indexing, creating embeddings

Import data CSV data to Pandas DataFrame

In [100]:
import pandas as pd
df = pd.read_csv('./data/movies.csv')
df.head()

,Unnamed: 0,id,title,overview,release_date,popularity,vote_average,vote_count
0,0,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,18.433,8.7,2763
1,1,724089,Gabriel's Inferno Part II,Professor Gabriel Emerson finally learns the t...,2020-07-31,8.439,8.7,1223
2,2,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,65.570,8.7,18637
3,3,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,63.277,8.7,14052
4,4,761053,Gabriel's Inferno Part III,The final part of the film adaption of the ero...,2020-11-19,26.691,8.7,773

Make sure to deploy Azure infrastructure using ```terraform apply``` command in terraform folder.

In [158]:
import subprocess
import os
import json

original_dir = os.getcwd()
try:
    # Jump into the terraform directory
    os.chdir('terraform')

    # Get the database connection string
    PGHOST = subprocess.run(['terraform', 'output', '-raw', 'PGHOST'], stdout=subprocess.PIPE).stdout.decode('utf-8')
    PGDATABASE = subprocess.run(['terraform', 'output', '-raw', 'PGDATABASE'], stdout=subprocess.PIPE).stdout.decode('utf-8')
    PGUSER = subprocess.run(['terraform', 'output', '-raw', 'PGUSER'], stdout=subprocess.PIPE).stdout.decode('utf-8')
    PGPASSWORD = subprocess.run(['terraform', 'output', '-raw', 'PGPASSWORD'], stdout=subprocess.PIPE).stdout.decode('utf-8')
    db_uri = f"postgresql://{PGUSER}:{PGPASSWORD}@{PGHOST}/{PGDATABASE}?sslmode=require"

    # Get the embedding model endpoint and key
    model_configurations = subprocess.run(['terraform', 'output', '-raw', 'model_configurations'], stdout=subprocess.PIPE).stdout.decode('utf-8')
    model_config = json.loads(model_configurations)
    embedding_model = model_config["models"]["text-embedding-3-large"]
    EMBEDDINGS_ENDPOINT = embedding_model["endpoint"]
    EMBEDDINGS_KEY = embedding_model["key"]
    gpt_4o_mini_model = model_config["models"]["gpt-4o-mini"]
    GPT_4O_MINI_ENDPOINT = gpt_4o_mini_model["endpoint"]
    GPT_4O_MINI_KEY = gpt_4o_mini_model["key"]
    gpt_4o_model = model_config["models"]["gpt-4o"]
    GPT_4O_ENDPOINT = gpt_4o_model["endpoint"]
    GPT_4O_KEY = gpt_4o_model["key"]

    print(f"Using {db_uri} as the database connection string")
    print(f"Using {EMBEDDINGS_ENDPOINT} as the embedding model endpoint")
    print(f"Using {GPT_4O_MINI_ENDPOINT} as the gpt-4o-mini model endpoint")
    print(f"Using {GPT_4O_ENDPOINT} as the gpt-4o model endpoint")

finally:
    os.chdir(original_dir)

Using postgresql://psqladmin:)ycxlsxlLRKks*g#@psql-graphrag-psbv.postgres.database.azure.com/demo?sslmode=require as the database connection string
Using https://graphrag-psbv.openai.azure.com/ as the embedding model endpoint
Using https://graphrag-psbv.openai.azure.com/ as the gpt-4o-mini model endpoint
Using https://graphrag-psbv.openai.azure.com/ as the gpt-4o model endpoint

Create clients for PostgreSQL and OpenAI models

In [227]:
import psycopg2
from psycopg2 import sql
from openai import AzureOpenAI 

conn = psycopg2.connect(db_uri)

gpt_4o_client = AzureOpenAI(  
    azure_endpoint=GPT_4O_ENDPOINT,  
    api_key=GPT_4O_KEY,  
    api_version="2024-05-01-preview",
)

gpt_4o_mini_client = AzureOpenAI(
    azure_endpoint=GPT_4O_MINI_ENDPOINT,  
    api_key=GPT_4O_MINI_KEY,  
    api_version="2024-05-01-preview",
)

### Install and configure extensions

List extensions

In [103]:
command = """
SELECT * FROM pg_extension;
"""

with conn.cursor() as cursor:
    cursor.execute(command)
    result = cursor.fetchall()
    columns = [desc[0] for desc in cursor.description]

pd.DataFrame(result, columns=columns)

,oid,extname,extowner,extnamespace,extrelocatable,extversion,extconfig,extcondition
0,14258,plpgsql,10,11,False,1.0,None,None
1,24760,vector,10,2200,True,0.7.0,None,None
2,25080,pg_diskann,10,2200,False,0.3.2,None,None
3,25099,azure_ai,10,11,False,1.1.0,None,None

Install extensions

In [104]:
command = """
CREATE EXTENSION IF NOT EXISTS vector;
CREATE EXTENSION IF NOT EXISTS pg_diskann CASCADE;
CREATE EXTENSION IF NOT EXISTS azure_ai;
"""

try:
    with conn.cursor() as cursor:
        cursor.execute(command)
        conn.commit()
except psycopg2.Error as e:
    print(f"Error: {e}")
    conn.rollback()

Configure extensions

In [105]:
command = f"""
select azure_ai.set_setting('azure_openai.endpoint','{EMBEDDINGS_ENDPOINT}'); 
select azure_ai.set_setting('azure_openai.subscription_key', '{EMBEDDINGS_KEY}'); 
"""

try:
    with conn.cursor() as cursor:
        cursor.execute(command)
        conn.commit()
except psycopg2.Error as e:
    print(f"Error: {e}")
    conn.rollback()

In [106]:
command = f"""
select azure_ai.get_setting('azure_openai.subscription_key');
"""

try:
    with conn.cursor() as cursor:
        cursor.execute(command)
        result = cursor.fetchone()
        print(result)
except psycopg2.Error as e:
    print(f"Error: {e}")
    conn.rollback()

('bfe0df31766a4bd7ad5eda631f0c2391',)

Create table movies

In [107]:
command = """
CREATE TABLE IF NOT EXISTS movies (
    id SERIAL PRIMARY KEY,
    title VARCHAR(255),
    overview TEXT,
    combined_text TEXT,
    embedding vector(2000),
    full_text_search tsvector GENERATED ALWAYS AS (to_tsvector('english', combined_text)) STORED
);
"""

try:
    with conn.cursor() as cursor:
        cursor.execute(command)
        conn.commit()
except psycopg2.Error as e:
    print(f"Error: {e}")
    conn.rollback()

In [108]:
command = """
CREATE INDEX IF NOT EXISTS diskann_idx ON movies USING diskann (embedding vector_cosine_ops)
"""

try:
    with conn.cursor() as cursor:
        cursor.execute(command)
        conn.commit()
except psycopg2.Error as e:
    print(f"Error: {e}")
    conn.rollback()

Insert data into movies table

In [109]:
import psycopg2.extras

with conn.cursor() as cursor:
    for _, row in df.iterrows():
        combined_text = f"TITLE: {row['title']} OVERVIEW: {row['overview']}"
        cursor.execute(
            """
            INSERT INTO movies (id, title, overview, combined_text)
            VALUES (%s, %s, %s, %s)
            ON CONFLICT (id) DO NOTHING;
            """,
            (row['id'], row['title'], row['overview'], combined_text)
        )
    conn.commit()

In [114]:
command = """
SELECT * FROM movies LIMIT 10;
"""

with conn.cursor() as cursor:
    cursor.execute(command)
    result = cursor.fetchall()
    columns = [desc[0] for desc in cursor.description]

pd.DataFrame(result, columns=columns)

,id,title,overview,combined_text,embedding,full_text_search
0,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",TITLE: Dilwale Dulhania Le Jayenge OVERVIEW: R...,"[-0.033203255,0.02153137,-0.011526895,0.024170...",'adher':38 'baldev':25 'begin':77 'carefre':11...
1,724089,Gabriel's Inferno Part II,Professor Gabriel Emerson finally learns the t...,TITLE: Gabriel's Inferno Part II OVERVIEW: Pro...,None,'anoth':61 'arm':63 'back':53 'come':23 'dant'...
2,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,TITLE: The Shawshank Redemption OVERVIEW: Fram...,None,'1940s':9 'account':36 'admir':54 'amor':42 'a...
3,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",TITLE: The Godfather OVERVIEW: Spanning the ye...,None,'1945':8 '1955':10 'american':18 'attempt':32 ...
4,761053,Gabriel's Inferno Part III,The final part of the film adaption of the ero...,TITLE: Gabriel's Inferno Part III OVERVIEW: Th...,None,'adapt':14 'anonym':26 'author':28 'canadian':...
5,872,Singin' in the Rain,"In 1927 Hollywood, a silent film production co...",TITLE: Singin' in the Rain OVERVIEW: In 1927 H...,None,'1927':8 'cast':16 'compani':14 'difficult':19...
6,696374,Gabriel's Inferno,An intriguing and sinful exploration of seduct...,TITLE: Gabriel's Inferno OVERVIEW: An intrigui...,None,'captiv':22 'earn':41 'escap':31 'explor':10 '...
7,791373,Zack Snyder's Justice League,Determined to ensure Superman's ultimate sacri...,TITLE: Zack Snyder's Justice League OVERVIEW: ...,None,'align':21 'approach':40 'bruce':19 'catastrop...
8,399566,Godzilla vs. Kong,"In a time when monsters walk the Earth, humani...",TITLE: Godzilla vs. Kong OVERVIEW: In a time w...,None,'age':48 'battl':45 'collid':41 'collis':26 'c...
9,441130,Wolfwalkers,"In a time of superstition and magic, when wolv...",TITLE: Wolfwalkers OVERVIEW: In a time of supe...,None,'apprentic':26 'come':28 'demon':16 'destroy':...

Create embeddings

In [115]:
import psycopg2

batch_size = 500  # Number of rows to update in each batch

try:
    with conn.cursor() as cursor:
        # Get the total number of rows to update
        cursor.execute("SELECT COUNT(*) FROM movies WHERE embedding IS NULL;")
        total_rows = cursor.fetchone()[0]
        print(f"Total rows to update: {total_rows}")

        # Update rows in batches
        offset = 0
        while offset < total_rows:
            command = f"""
            UPDATE movies
            SET embedding = azure_openai.create_embeddings('text-embedding-3-large', combined_text, 2000, max_attempts => 5, retry_delay_ms => 500)
            WHERE id IN (
                SELECT id
                FROM movies
                WHERE embedding IS NULL
                LIMIT {batch_size} OFFSET {offset}
            );
            """
            cursor.execute(command)
            conn.commit()
            offset += batch_size
            print(f"Updated {min(offset, total_rows)} of {total_rows} rows")

except psycopg2.Error as e:
    print(f"Error: {e}")
    conn.rollback()

Total rows to update: 8550
Updated 500 of 8550 rows
Updated 1000 of 8550 rows
Updated 1500 of 8550 rows
Updated 2000 of 8550 rows
Updated 2500 of 8550 rows
Updated 3000 of 8550 rows
Updated 3500 of 8550 rows
Updated 4000 of 8550 rows
Updated 4500 of 8550 rows
Updated 5000 of 8550 rows
Updated 5500 of 8550 rows
Updated 6000 of 8550 rows
Updated 6500 of 8550 rows
Updated 7000 of 8550 rows
Updated 7500 of 8550 rows
Updated 8000 of 8550 rows
Updated 8500 of 8550 rows
Updated 8550 of 8550 rows

In [116]:
command = """
SELECT * FROM movies LIMIT 10;
"""

with conn.cursor() as cursor:
    cursor.execute(command)
    result = cursor.fetchall()
    columns = [desc[0] for desc in cursor.description]

pd.DataFrame(result, columns=columns)

,id,title,overview,combined_text,embedding,full_text_search
0,423612,Never Look Away,"The story of Kurt, a young art student who fal...",TITLE: Never Look Away OVERVIEW: The story of ...,"[0.010460264,0.03285887,-0.019344991,0.0469737...",'ago':64 'alreadi':55 'art':12 'away':4 'boyfr...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",TITLE: Dilwale Dulhania Le Jayenge OVERVIEW: R...,"[-0.033203255,0.02153137,-0.011526895,0.024170...",'adher':38 'baldev':25 'begin':77 'carefre':11...
2,9900,Grandma's Boy,"Even though he's 35, Alex acts more like he's ...",TITLE: Grandma's Boy OVERVIEW: Even though he'...,"[0.0030696925,0.02457246,-0.022080898,0.021558...",'13':17 '35':10 'act':12 'alex':11 'apart':46 ...
3,78383,Nurse 3-D,"Abby Russell, a beautiful, dedicated nurse wit...","TITLE: Nurse 3-D OVERVIEW: Abby Russell, a bea...","[0.002974399,0.016073475,-0.006025722,0.021817...",'3':3 'abbi':6 'beauti':9 'd':4 'dedic':10 'di...
4,12657,Soul Plane,Following a ridiculously awful flight that lea...,TITLE: Soul Plane OVERVIEW: Following a ridicu...,"[-0.016872132,0.002083541,-0.010495951,-0.0399...",'african':50 'african-american':49 'airlin':24...
5,10216,Species II,"Having just returned from a mission to Mars, C...",TITLE: Species II OVERVIEW: Having just return...,"[-0.014371347,0.0046571563,-0.024638902,-0.017...","'alien':25,45,60 'assassin':52 'baker':49 'bea..."
6,256274,"As Above, So Below",When a team of explorers ventures into the cat...,"TITLE: As Above, So Below OVERVIEW: When a tea...","[-0.045271445,0.0042207493,-0.015132168,-0.014...",'beneath':18 'catacomb':15 'citi':32 'dark':26...
7,10154,Mickey Blue Eyes,An English auctioneer proposes to the daughter...,TITLE: Mickey Blue Eyes OVERVIEW: An English a...,"[-0.019462595,0.012176347,-0.019544097,0.03455...",'ask':25 'auction':8 'blue':3 'certain':21 'da...
8,6538,Charlie Wilson's War,The true story of Texas congressman Charlie Wi...,TITLE: Charlie Wilson's War OVERVIEW: The true...,"[0.035006616,0.010568285,-0.017317668,0.016561...","'afghanistan':19 'assist':24 'charli':2,13 'co..."
9,486131,Shaft,"JJ, aka John Shaft Jr., may be a cyber securit...","TITLE: Shaft OVERVIEW: JJ, aka John Shaft Jr.,...","[0.016566234,0.0061599636,-0.014157039,0.00814...",'absent':41 'agre':54 'aka':5 'behind':25 'bes...

## Querying

In [200]:
questions = [
    "What movies are about Abby?",
    "I have seen all Star Wars movies and would like tips for something similar I can watch next.",
    "What is the most common genre of the movies where one of key figures is called Mark?"
]

In [184]:
import pandas as pd
from pandas import DataFrame
from IPython.display import display, Markdown

def build_context(df: DataFrame) -> str:
    context = "CONTEXT:\n"
    for _, row in df.iterrows():
        context += f"- {row['combined_text']}\n"
    return context

def execute_query(query: str, parameters: tuple) -> DataFrame:
    with conn.cursor() as cursor:
        cursor.execute(query, parameters)
        result = cursor.fetchall()
        columns = [desc[0] for desc in cursor.description]
    return pd.DataFrame(result, columns=columns)

def llm_final_answer(question: str, context: str) -> str:
    system_prompt = "You are a movies expert who answers questions based on movie details. You will be provided with most relevant list of movies with their titles and overview that are results of search based on user question. Make sure your answer is based only on context provided.\n"
    user_prompt = f"QUESTION: {question}\n{context}\n\nAnswer concisely."
    messages = [
        {"role": "system", "content": system_prompt},
        {"role": "user", "content": user_prompt}
    ]
    completion = gpt_4o_client.chat.completions.create(  
        model="gpt-4o",
        messages=messages,
        max_tokens=200,  
        temperature=0.7,
    )
    return completion.choices[0].message.content

def print_output(df_results: DataFrame, question: str, response: str, question_enhanced = None) -> None:
    print("\n\n*************************************************")
    print(f"Top 10 matching movies for question: {question}")
    if question_enhanced:
        print(f"Enhanced question: {question_enhanced}")
    display(df_results)
    print("LLM response:")
    display(Markdown(response))

### Full-text search

In [185]:
import pandas as pd

for q in questions:
    # Execute full-text search query in PostgreSQL
    search_query = """
    SELECT id, title, overview, combined_text,
           ts_rank(full_text_search, plainto_tsquery('english', %s)) as rank
    FROM movies
    ORDER BY rank DESC
    LIMIT 10;
    """
    df_results = execute_query(search_query, (q,))
    
    response = llm_final_answer(q, build_context(df_results))
    print_output(df_results=df_results, question=q, response=response)

*************************************************
Top 10 matching movies for question: What movies are about Abby?

,id,title,overview,combined_text,rank
0,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",TITLE: Dilwale Dulhania Le Jayenge OVERVIEW: R...,1.000000e-20
1,9900,Grandma's Boy,"Even though he's 35, Alex acts more like he's ...",TITLE: Grandma's Boy OVERVIEW: Even though he'...,1.000000e-20
2,78383,Nurse 3-D,"Abby Russell, a beautiful, dedicated nurse wit...","TITLE: Nurse 3-D OVERVIEW: Abby Russell, a bea...",1.000000e-20
3,12657,Soul Plane,Following a ridiculously awful flight that lea...,TITLE: Soul Plane OVERVIEW: Following a ridicu...,1.000000e-20
4,10216,Species II,"Having just returned from a mission to Mars, C...",TITLE: Species II OVERVIEW: Having just return...,1.000000e-20
5,256274,"As Above, So Below",When a team of explorers ventures into the cat...,"TITLE: As Above, So Below OVERVIEW: When a tea...",1.000000e-20
6,10154,Mickey Blue Eyes,An English auctioneer proposes to the daughter...,TITLE: Mickey Blue Eyes OVERVIEW: An English a...,1.000000e-20
7,6538,Charlie Wilson's War,The true story of Texas congressman Charlie Wi...,TITLE: Charlie Wilson's War OVERVIEW: The true...,1.000000e-20
8,486131,Shaft,"JJ, aka John Shaft Jr., may be a cyber securit...","TITLE: Shaft OVERVIEW: JJ, aka John Shaft Jr.,...",1.000000e-20
9,423612,Never Look Away,"The story of Kurt, a young art student who fal...",TITLE: Never Look Away OVERVIEW: The story of ...,1.000000e-20

LLM response:

The movie *Nurse 3-D* is about Abby Russell, a beautiful yet sinister nurse who leads a secret life targeting and punishing dishonest men.

*************************************************
Top 10 matching movies for question: I have seen all Star Wars movies and would like tips for something similar I can watch next.

,id,title,overview,combined_text,rank
0,12180,Star Wars: The Clone Wars,"Set between Episode II and III, The Clone Wars...",TITLE: Star Wars: The Clone Wars OVERVIEW: Set...,0.341995
1,1252,Lonely Hearts,Based on a true story. . . . In the late 1940s...,TITLE: Lonely Hearts OVERVIEW: Based on a true...,0.190833
2,249,The War of the Roses,"The Roses, Barbara and Oliver, live happily as...",TITLE: The War of the Roses OVERVIEW: The Rose...,0.176170
3,354287,War Machine,A rock star general bent on winning the “impos...,TITLE: War Machine OVERVIEW: A rock star gener...,0.163199
4,474395,Teen Titans Go! To the Movies,All the major DC superheroes are starring in t...,TITLE: Teen Titans Go! To the Movies OVERVIEW:...,0.157244
5,10479,Rules of Engagement,"Part war movie, part courtroom thriller, this ...",TITLE: Rules of Engagement OVERVIEW: Part war ...,0.145719
6,14564,Rings,"Julia becomes worried about her boyfriend, Hol...",TITLE: Rings OVERVIEW: Julia becomes worried a...,0.132628
7,8944,What Just Happened,During the course of an ordinary week in Holly...,TITLE: What Just Happened OVERVIEW: During the...,0.113345
8,50848,The Names of Love,"Bahia Benmahmoud, a free-spirited young woman,...",TITLE: The Names of Love OVERVIEW: Bahia Benma...,0.109496
9,4248,Scary Movie 2,While the original parodied slasher flicks lik...,TITLE: Scary Movie 2 OVERVIEW: While the origi...,0.106079

LLM response:

If you're looking for something similar to *Star Wars* with epic space adventures and battles, you might enjoy *Star Wars: The Clone Wars*. It expands on the Star Wars universe, diving into the events between Episode II and III with familiar characters like Anakin and Obi-Wan. It's a great next step for more Star Wars-style storytelling.

*************************************************
Top 10 matching movies for question: What is the most common genre in the movies where one of key figures is called Mark?

,id,title,overview,combined_text,rank
0,13805,Disaster Movie,"The filmmaking team behind the hits ""Scary Mov...",TITLE: Disaster Movie OVERVIEW: The filmmaking...,0.244731
1,670203,Il talento del calabrone,"Dj Steph is a young radio deejay on the rise, ...",TITLE: Il talento del calabrone OVERVIEW: Dj S...,0.183329
2,158011,The Call,Jordan Turner is an experienced 911 operator b...,TITLE: The Call OVERVIEW: Jordan Turner is an ...,0.181543
3,14564,Rings,"Julia becomes worried about her boyfriend, Hol...",TITLE: Rings OVERVIEW: Julia becomes worried a...,0.174351
4,11644,Blow Out,Jack Terry is a master sound recordist who wor...,TITLE: Blow Out OVERVIEW: Jack Terry is a mast...,0.134355
5,9656,Black Christmas,An escaped maniac returns to his childhood hom...,TITLE: Black Christmas OVERVIEW: An escaped ma...,0.123951
6,16562,The Cutting Edge,"Two former Olympians, one a figure skater and ...",TITLE: The Cutting Edge OVERVIEW: Two former O...,0.119995
7,11891,Kung Pow: Enter the Fist,"A movie within a movie, created to spoof the m...",TITLE: Kung Pow: Enter the Fist OVERVIEW: A mo...,0.112968
8,218784,Freaks of Nature,"In the town of Dillford, humans, vampires and ...",TITLE: Freaks of Nature OVERVIEW: In the town ...,0.106518
9,11918,Superhero Movie,The team behind Scary Movie takes on the comic...,TITLE: Superhero Movie OVERVIEW: The team behi...,0.105174

LLM response:

Based on the provided context, the most common genre in movies where one of the key figures is called Mark appears to be *comedy/spoof*, as seen in titles like *Disaster Movie*, *Kung Pow: Enter the Fist*, and *Superhero Movie*.

### Full-text search with intent extraction

In [187]:
import pandas as pd

for q in questions:
    # Use LLM to enhance the question for full-text search
    question_enhancement_prompt = """
    You are an assistant that transforms user questions into search queries suitable for full-text search.
    Your task is to extract key entities such as persons, places and other words specific enough to be suitable for full-text search from the user's question, while ignoring common stop words, filler words and generic words.
    Ignore words like 'what', 'why', 'the', 'a', 'please', and other similar words that do not contain actual information.
    Ignore generic words that do not add value to the search for specific item, such as 'movie', 'film', 'show', etc.
    Your response MUST contain only resulting words, separated by spaces. Do not add any other text.
    """
    question_enhanced = gpt_4o_mini_client.chat.completions.create(  
        model="gpt-4o-mini",
        messages=[
                {"role": "system", "content": question_enhancement_prompt},
                {"role": "user", "content": f"QUESTION: {q}"}
        ],
        max_tokens=200,  
        temperature=0.7,
    ).choices[0].message.content

    # Execute full-text search query in PostgreSQL
    search_query = """
    SELECT id, title, overview, combined_text,
           ts_rank(full_text_search, plainto_tsquery('english', %s)) as rank
    FROM movies
    ORDER BY rank DESC
    LIMIT 10;
    """
    df_results = execute_query(search_query, (question_enhanced,))
    
    response = llm_final_answer(q, build_context(df_results))
    print_output(df_results=df_results, question=q, response=response, question_enhanced=question_enhanced)

*************************************************
Top 10 matching movies for question: What movies are about Abby?
Enhanced question: Abby

,id,title,overview,combined_text,rank
0,40205,16 Wishes,"The story about Abby Jensen, a girl who's been...",TITLE: 16 Wishes OVERVIEW: The story about Abb...,0.082746
1,342737,20th Century Women,"In 1979 Santa Barbara, California, Dorothea Fi...",TITLE: 20th Century Women OVERVIEW: In 1979 Sa...,0.060793
2,13909,She Wore a Yellow Ribbon,After Custer and the 7th Cavalry are wiped out...,TITLE: She Wore a Yellow Ribbon OVERVIEW: Afte...,0.060793
3,51481,Mean Girls 2,The Plastics are back in the long awaited foll...,TITLE: Mean Girls 2 OVERVIEW: The Plastics are...,0.060793
4,43074,Ghostbusters,"Following a ghost invasion of Manhattan, paran...",TITLE: Ghostbusters OVERVIEW: Following a ghos...,0.060793
5,11082,The Seventh Sign,Abby is a pregnant woman with a curious new bo...,TITLE: The Seventh Sign OVERVIEW: Abby is a pr...,0.060793
6,78383,Nurse 3-D,"Abby Russell, a beautiful, dedicated nurse wit...","TITLE: Nurse 3-D OVERVIEW: Abby Russell, a bea...",0.060793
7,256274,"As Above, So Below",When a team of explorers ventures into the cat...,"TITLE: As Above, So Below OVERVIEW: When a tea...",0.000000
8,10216,Species II,"Having just returned from a mission to Mars, C...",TITLE: Species II OVERVIEW: Having just return...,0.000000
9,9900,Grandma's Boy,"Even though he's 35, Alex acts more like he's ...",TITLE: Grandma's Boy OVERVIEW: Even though he'...,0.000000

LLM response:

Movies about Abby include:

1. **16 Wishes** - Follows Abby Jensen, a girl whose 16th birthday takes a magical turn with a box of wish-granting candles.
2. **She Wore a Yellow Ribbon** - Features Abby Allshard, the wife of a commanding officer, who is part of a group being evacuated for safety.
3. **Mean Girls 2** - Focuses on Abby, a timid girl caught in school drama and defended by a confident senior, Jo.
4. **Ghostbusters** - Includes Abby Yates, a paranormal enthusiast battling a ghost invasion in Manhattan.
5. **The Seventh Sign** - Centers on Abby, a pregnant woman dealing with a mysterious, apocalyptic boarder.
6. **Nurse 3-D** - Stars Abby Russell, a nurse with a dark, vengeful secret life.

*************************************************
Top 10 matching movies for question: I have seen all Star Wars movies and would like tips for something similar I can watch next.
Enhanced question: Star Wars tips similar watch

,id,title,overview,combined_text,rank
0,12180,Star Wars: The Clone Wars,"Set between Episode II and III, The Clone Wars...",TITLE: Star Wars: The Clone Wars OVERVIEW: Set...,0.341995
1,354287,War Machine,A rock star general bent on winning the “impos...,TITLE: War Machine OVERVIEW: A rock star gener...,0.163199
2,330459,Rogue One: A Star Wars Story,A rogue band of resistance fighters unite for ...,TITLE: Rogue One: A Star Wars Story OVERVIEW: ...,0.102888
3,1894,Star Wars: Episode II - Attack of the Clones,Following an assassination attempt on Senator ...,TITLE: Star Wars: Episode II - Attack of the C...,0.099103
4,181812,Star Wars: The Rise of Skywalker,The surviving Resistance faces the First Order...,TITLE: Star Wars: The Rise of Skywalker OVERVI...,0.099103
5,13532,Fanboys,"In 1999, Star Wars fanatics take a cross-count...","TITLE: Fanboys OVERVIEW: In 1999, Star Wars fa...",0.099103
6,278427,Family Guy Presents: It's a Trap!,With the Griffins stuck again at home during a...,TITLE: Family Guy Presents: It's a Trap! OVERV...,0.099103
7,1895,Star Wars: Episode III - Revenge of the Sith,The evil Darth Sidious enacts his final plan f...,TITLE: Star Wars: Episode III - Revenge of the...,0.099103
8,140607,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,TITLE: Star Wars: The Force Awakens OVERVIEW: ...,0.099103
9,1893,Star Wars: Episode I - The Phantom Menace,"Anakin Skywalker, a young slave strong with th...",TITLE: Star Wars: Episode I - The Phantom Mena...,0.099103

LLM response:

If you're looking for something similar to Star Wars, you might enjoy **"Star Wars: The Clone Wars"** for more stories set within the saga's universe or **"Rogue One: A Star Wars Story"**, which offers a gritty, standalone tale tied directly to the original trilogy. For a fun, Star Wars-inspired comedy, check out **"Fanboys"**.

*************************************************
Top 10 matching movies for question: What is the most common genre in the movies where one of key figures is called Mark?
Enhanced question: common genre key figures Mark

,id,title,overview,combined_text,rank
0,13498,Man of the House,Texas Ranger Roland Sharp is assigned to prote...,TITLE: Man of the House OVERVIEW: Texas Ranger...,9.910322e-02
1,13851,Batman: Gotham Knight,A collection of key events mark Bruce Wayne's ...,TITLE: Batman: Gotham Knight OVERVIEW: A colle...,9.850085e-02
2,12618,Random Hearts,After the death of their loved ones in a tragi...,TITLE: Random Hearts OVERVIEW: After the death...,1.546895e-03
3,11323,The Informant!,A rising star at agri-industry giant Archer Da...,TITLE: The Informant! OVERVIEW: A rising star ...,2.833577e-05
4,672647,The Map of Tiny Perfect Things,The film tells the story of quick-witted teen ...,TITLE: The Map of Tiny Perfect Things OVERVIEW...,7.469888e-06
5,256274,"As Above, So Below",When a team of explorers ventures into the cat...,"TITLE: As Above, So Below OVERVIEW: When a tea...",1.000000e-20
6,10216,Species II,"Having just returned from a mission to Mars, C...",TITLE: Species II OVERVIEW: Having just return...,1.000000e-20
7,9900,Grandma's Boy,"Even though he's 35, Alex acts more like he's ...",TITLE: Grandma's Boy OVERVIEW: Even though he'...,1.000000e-20
8,486131,Shaft,"JJ, aka John Shaft Jr., may be a cyber securit...","TITLE: Shaft OVERVIEW: JJ, aka John Shaft Jr.,...",1.000000e-20
9,12657,Soul Plane,Following a ridiculously awful flight that lea...,TITLE: Soul Plane OVERVIEW: Following a ridicu...,1.000000e-20

LLM response:

The most common genre in the movies where a key figure is called Mark is **comedy**, as seen in *The Informant!* and *The Map of Tiny Perfect Things*.

### Semantic search

In [191]:
import pandas as pd

for q in questions:
    # Execute full-text search query in PostgreSQL
    search_query = """
    SELECT id, title, overview, combined_text, 
        (embedding <=> azure_openai.create_embeddings('text-embedding-3-large', %s, 2000, max_attempts => 5, retry_delay_ms => 500)::vector) AS similarity_score
    FROM movies
    ORDER BY similarity_score
    LIMIT 10;
    """
    df_results = execute_query(search_query, (q,))
    
    response = llm_final_answer(q, build_context(df_results))
    print_output(df_results=df_results, question=q, response=response)

*************************************************
Top 10 matching movies for question: What movies are about Abby?

,id,title,overview,combined_text,similarity_score
0,78383,Nurse 3-D,"Abby Russell, a beautiful, dedicated nurse wit...","TITLE: Nurse 3-D OVERVIEW: Abby Russell, a bea...",0.552365
1,2005,Sister Act,A Reno singer witnesses a mob murder and the c...,TITLE: Sister Act OVERVIEW: A Reno singer witn...,0.592951
2,362057,Martyrs,A woman and her childhood friend seek out reve...,TITLE: Martyrs OVERVIEW: A woman and her child...,0.598653
3,1957,Enough,Working-class waitress Slim thought she was en...,TITLE: Enough OVERVIEW: Working-class waitress...,0.614545
4,309245,Mistress America,"Tracy, a lonely college freshman in New York, ...","TITLE: Mistress America OVERVIEW: Tracy, a lon...",0.627233
5,11109,Vera Drake,Abortionist Vera Drake finds her beliefs and p...,TITLE: Vera Drake OVERVIEW: Abortionist Vera D...,0.627722
6,502416,Ma,Sue Ann is a loner who keeps to herself in her...,TITLE: Ma OVERVIEW: Sue Ann is a loner who kee...,0.627732
7,439079,The Nun,When a young nun at a cloistered abbey in Roma...,TITLE: The Nun OVERVIEW: When a young nun at a...,0.627868
8,14125,Captivity,"The sought-after images of top model, Jennifer...",TITLE: Captivity OVERVIEW: The sought-after im...,0.628036
9,14359,Doubt,"In 1964, a Catholic school nun questions a pri...","TITLE: Doubt OVERVIEW: In 1964, a Catholic sch...",0.628174

LLM response:

The movie *Nurse 3-D* is about Abby Russell, a beautiful nurse with a sinister side who leads a secret life targeting and punishing dishonest men.

*************************************************
Top 10 matching movies for question: I have seen all Star Wars movies and would like tips for something similar I can watch next.

,id,title,overview,combined_text,similarity_score
0,11,Star Wars,Princess Leia is captured and held hostage by ...,TITLE: Star Wars OVERVIEW: Princess Leia is ca...,0.574062
1,1891,The Empire Strikes Back,"The epic saga continues as Luke Skywalker, in ...",TITLE: The Empire Strikes Back OVERVIEW: The e...,0.587404
2,12180,Star Wars: The Clone Wars,"Set between Episode II and III, The Clone Wars...",TITLE: Star Wars: The Clone Wars OVERVIEW: Set...,0.596291
3,181808,Star Wars: The Last Jedi,Rey develops her newly discovered abilities wi...,TITLE: Star Wars: The Last Jedi OVERVIEW: Rey ...,0.603993
4,348350,Solo: A Star Wars Story,Through a series of daring escapades deep with...,TITLE: Solo: A Star Wars Story OVERVIEW: Throu...,0.619453
5,1892,Return of the Jedi,Luke Skywalker leads a mission to rescue his f...,TITLE: Return of the Jedi OVERVIEW: Luke Skywa...,0.635749
6,157336,Interstellar,The adventures of a group of explorers who mak...,TITLE: Interstellar OVERVIEW: The adventures o...,0.639388
7,330459,Rogue One: A Star Wars Story,A rogue band of resistance fighters unite for ...,TITLE: Rogue One: A Star Wars Story OVERVIEW: ...,0.645560
8,13475,Star Trek,The fate of the galaxy rests in the hands of b...,TITLE: Star Trek OVERVIEW: The fate of the gal...,0.650430
9,957,Spaceballs,When the nefarious Dark Helmet hatches a plan ...,TITLE: Spaceballs OVERVIEW: When the nefarious...,0.664021

LLM response:

If you're looking for something similar to *Star Wars*, consider these options:

1. **Rogue One: A Star Wars Story** - A gritty, standalone prequel focusing on a rebel mission to steal the Death Star plans, offering a darker tone in the *Star Wars* universe.
2. **Star Trek (2009)** - A reboot of the classic sci-fi series with epic space battles, a strong ensemble cast, and themes of teamwork and adventure.
3. **Interstellar** - A visually stunning exploration of space with emotional depth, focusing on humanity's survival and intergalactic travel.
4. **Spaceballs** - A hilarious parody of *Star Wars* that offers a comedic twist while staying in the realm of space adventures.

These provide a mix of epic space opera, emotional storytelling, and light-hearted fun.

*************************************************
Top 10 matching movies for question: What is the most common genre in the movies where one of key figures is called Mark?

,id,title,overview,combined_text,similarity_score
0,351044,Welcome to Marwen,When a devastating attack shatters Mark Hoganc...,TITLE: Welcome to Marwen OVERVIEW: When a deva...,0.636435
1,15097,Fear City: A Family-Style Comedy,A second-class horror movie has to be shown at...,TITLE: Fear City: A Family-Style Comedy OVERVI...,0.661345
2,271404,Beyond Skyline,Detective Mark Corley storms his way onto an a...,TITLE: Beyond Skyline OVERVIEW: Detective Mark...,0.663420
3,87818,Movie 43,A series of interconnected short films follows...,TITLE: Movie 43 OVERVIEW: A series of intercon...,0.665292
4,11167,Peeping Tom,Loner Mark Lewis works at a film studio during...,TITLE: Peeping Tom OVERVIEW: Loner Mark Lewis ...,0.667132
5,359412,Marauders,An untraceable group of elite bank robbers is ...,TITLE: Marauders OVERVIEW: An untraceable grou...,0.669170
6,3432,Mr. Brooks,A psychological thriller about a man who is so...,TITLE: Mr. Brooks OVERVIEW: A psychological th...,0.675404
7,44564,The Dilemma,Longtime friends Ronny and Nick are partners i...,TITLE: The Dilemma OVERVIEW: Longtime friends ...,0.675681
8,11323,The Informant!,A rising star at agri-industry giant Archer Da...,TITLE: The Informant! OVERVIEW: A rising star ...,0.675825
9,390061,Mark Felt: The Man Who Brought Down the White ...,"The story of Mark Felt, who under the name ""De...",TITLE: Mark Felt: The Man Who Brought Down the...,0.677231

LLM response:

The most common genre in the movies where a key figure is called Mark appears to be **drama**, as it is a recurring element in films like *Welcome to Marwen*, *Peeping Tom*, *The Informant!*, and *Mark Felt: The Man Who Brought Down the White House*.

### Semantic search with query rewriting

In [202]:
import pandas as pd

for q in questions:
    # Use LLM to enhance the question
    question_enhancement_prompt = """
    You are an assistant that enhances user questions to be clear, well formulated and specific, with no grammar errors.
    DO NOT ask clarifying questions, your task is just to enhance the question for further processing and vector search.
    """
    question_enhanced = gpt_4o_mini_client.chat.completions.create(  
        model="gpt-4o-mini",
        messages=[
                {"role": "system", "content": question_enhancement_prompt},
                {"role": "user", "content": f"QUESTION: {q}"}
        ],
        max_tokens=200,  
        temperature=0.7,
    ).choices[0].message.content

    # Execute full-text search query in PostgreSQL
    search_query = """
    SELECT id, title, overview, combined_text, 
        (embedding <=> azure_openai.create_embeddings('text-embedding-3-large', %s, 2000, max_attempts => 5, retry_delay_ms => 500)::vector) AS similarity_score
    FROM movies
    ORDER BY similarity_score
    LIMIT 10;
    """
    df_results = execute_query(search_query, (question_enhanced,))
    
    response = llm_final_answer(question_enhanced, build_context(df_results))
    print_output(df_results=df_results, question=q, response=response, question_enhanced=question_enhanced)

*************************************************
Top 10 matching movies for question: What movies are about Abby?
Enhanced question: What movies feature a character named Abby?

,id,title,overview,combined_text,similarity_score
0,78383,Nurse 3-D,"Abby Russell, a beautiful, dedicated nurse wit...","TITLE: Nurse 3-D OVERVIEW: Abby Russell, a bea...",0.568332
1,2005,Sister Act,A Reno singer witnesses a mob murder and the c...,TITLE: Sister Act OVERVIEW: A Reno singer witn...,0.627342
2,36968,Life-Size,"After her mom's death, Casey pulls away from e...",TITLE: Life-Size OVERVIEW: After her mom's dea...,0.631428
3,309245,Mistress America,"Tracy, a lonely college freshman in New York, ...","TITLE: Mistress America OVERVIEW: Tracy, a lon...",0.633479
4,396422,Annabelle: Creation,Several years after the tragic death of their ...,TITLE: Annabelle: Creation OVERVIEW: Several y...,0.637455
5,502416,Ma,Sue Ann is a loner who keeps to herself in her...,TITLE: Ma OVERVIEW: Sue Ann is a loner who kee...,0.642608
6,380225,Like Crazy,Beatrice is a blabbermouth and a so-called bil...,TITLE: Like Crazy OVERVIEW: Beatrice is a blab...,0.645079
7,5857,I Know Who Killed Me,An idyllic small town is rocked when Aubrey Fl...,TITLE: I Know Who Killed Me OVERVIEW: An idyll...,0.648197
8,10035,100 Girls,"This sexy, teen-comedy is about a freshman, Ma...","TITLE: 100 Girls OVERVIEW: This sexy, teen-com...",0.651256
9,329010,Emelie,"After their regular babysitter cancels, the Th...",TITLE: Emelie OVERVIEW: After their regular ba...,0.651535

LLM response:

The movie **"Nurse 3-D"** features a character named Abby, specifically Abby Russell, a nurse with a sinister secret life.

*************************************************
Top 10 matching movies for question: I have seen all Star Wars movies and would like tips for something similar I can watch next.
Enhanced question: I have watched all the Star Wars movies and would like recommendations for similar films or series that I can enjoy next.

,id,title,overview,combined_text,similarity_score
0,11,Star Wars,Princess Leia is captured and held hostage by ...,TITLE: Star Wars OVERVIEW: Princess Leia is ca...,0.576684
1,1891,The Empire Strikes Back,"The epic saga continues as Luke Skywalker, in ...",TITLE: The Empire Strikes Back OVERVIEW: The e...,0.578114
2,12180,Star Wars: The Clone Wars,"Set between Episode II and III, The Clone Wars...",TITLE: Star Wars: The Clone Wars OVERVIEW: Set...,0.591495
3,181808,Star Wars: The Last Jedi,Rey develops her newly discovered abilities wi...,TITLE: Star Wars: The Last Jedi OVERVIEW: Rey ...,0.609378
4,348350,Solo: A Star Wars Story,Through a series of daring escapades deep with...,TITLE: Solo: A Star Wars Story OVERVIEW: Throu...,0.628236
5,1892,Return of the Jedi,Luke Skywalker leads a mission to rescue his f...,TITLE: Return of the Jedi OVERVIEW: Luke Skywa...,0.633102
6,157336,Interstellar,The adventures of a group of explorers who mak...,TITLE: Interstellar OVERVIEW: The adventures o...,0.649155
7,13475,Star Trek,The fate of the galaxy rests in the hands of b...,TITLE: Star Trek OVERVIEW: The fate of the gal...,0.651601
8,11864,Enemy Mine,A soldier from Earth crashlands on an alien wo...,TITLE: Enemy Mine OVERVIEW: A soldier from Ear...,0.652107
9,330459,Rogue One: A Star Wars Story,A rogue band of resistance fighters unite for ...,TITLE: Rogue One: A Star Wars Story OVERVIEW: ...,0.658497

LLM response:

If you enjoyed *Star Wars*, you might like:

1. **Star Trek** - A space-faring adventure focusing on galactic exploration, teamwork, and the clash of logic versus instinct, similar to the epic battles and camaraderie in *Star Wars*.
2. **Interstellar** - A visually stunning tale of space exploration and survival, with emotional depth and a grand sense of purpose akin to the Jedi's journey.
3. **Enemy Mine** - A story of unlikely friendship and survival on an alien planet, echoing themes of unity and overcoming differences seen in *Star Wars*.

Additionally, *Rogue One: A Star Wars Story* is a direct prequel to *A New Hope*, offering a gritty, standalone take within the same universe.

*************************************************
Top 10 matching movies for question: What is the most common genre of the movies where one of key figures is called Mark?
Enhanced question: What is the most common genre of movies featuring a character named Mark as one of the key figures?

,id,title,overview,combined_text,similarity_score
0,351044,Welcome to Marwen,When a devastating attack shatters Mark Hoganc...,TITLE: Welcome to Marwen OVERVIEW: When a deva...,0.618101
1,365942,The Space Between Us,A young man raised by scientists on Mars retur...,TITLE: The Space Between Us OVERVIEW: A young ...,0.640070
2,13342,Fast Times at Ridgemont High,Based on the real-life adventures chronicled b...,TITLE: Fast Times at Ridgemont High OVERVIEW: ...,0.646439
3,271404,Beyond Skyline,Detective Mark Corley storms his way onto an a...,TITLE: Beyond Skyline OVERVIEW: Detective Mark...,0.654413
4,11167,Peeping Tom,Loner Mark Lewis works at a film studio during...,TITLE: Peeping Tom OVERVIEW: Loner Mark Lewis ...,0.655369
5,87818,Movie 43,A series of interconnected short films follows...,TITLE: Movie 43 OVERVIEW: A series of intercon...,0.655825
6,68722,The Master,"Freddie, a volatile, heavy-drinking veteran wh...","TITLE: The Master OVERVIEW: Freddie, a volatil...",0.665698
7,3432,Mr. Brooks,A psychological thriller about a man who is so...,TITLE: Mr. Brooks OVERVIEW: A psychological th...,0.667406
8,445571,Game Night,Max and Annie's weekly game night gets kicked ...,TITLE: Game Night OVERVIEW: Max and Annie's we...,0.667820
9,8224,8MM,"A small, seemingly innocuous plastic reel of f...","TITLE: 8MM OVERVIEW: A small, seemingly innocu...",0.668086

LLM response:

Based on the provided context, the most common genre of movies featuring a character named Mark as a key figure appears to be **drama with psychological or emotional depth**, often exploring themes of recovery, fear, relationships, or survival (e.g., *Welcome to Marwen*, *Peeping Tom*, *Beyond Skyline*).

### Hybrid search

In [221]:
import pandas as pd

for q in questions:
    # Use LLM to enhance the question for full-text search
    question_enhancement_prompt = """
    You are an assistant that transforms user questions into search queries suitable for full-text search.
    Your task is to extract key entities such as persons, places and other words specific enough to be suitable for full-text search from the user's question, while ignoring common stop words, filler words and generic words.
    Ignore words like 'what', 'why', 'the', 'a', 'please', and other similar words that do not contain actual information.
    Ignore generic words that do not add value to the search for specific item, such as 'movie', 'film', 'show', etc.
    Your response MUST contain only resulting words, separated by spaces. Do not add any other text.
    """
    question_fulltext_enhanced = gpt_4o_mini_client.chat.completions.create(  
        model="gpt-4o-mini",
        messages=[
                {"role": "system", "content": question_enhancement_prompt},
                {"role": "user", "content": f"QUESTION: {q}"}
        ],
        max_tokens=200,  
        temperature=0.7,
    ).choices[0].message.content

    # Use LLM to enhance the question
    question_enhancement_prompt = """
    You are an assistant that enhances user questions to be clear, well formulated and specific, with no grammar errors.
    DO NOT ask clarifying questions, your task is just to enhance the question for further processing and vector search.
    """
    question_semantic_enhanced = gpt_4o_mini_client.chat.completions.create(  
        model="gpt-4o-mini",
        messages=[
                {"role": "system", "content": question_enhancement_prompt},
                {"role": "user", "content": f"QUESTION: {q}"}
        ],
        max_tokens=200,  
        temperature=0.7,
    ).choices[0].message.content

    # Execute full-text search query in PostgreSQL
    search_query = """
    WITH fulltext AS (
        SELECT 
            id, 
            title, 
            overview, 
            combined_text, 
            ts_rank(full_text_search, plainto_tsquery('english', %s)) AS score,
            'fulltext' AS method,
            ROW_NUMBER() OVER (ORDER BY ts_rank(full_text_search, plainto_tsquery('english', %s)) DESC) AS index
        FROM movies
        ORDER BY score DESC
        LIMIT 15
    ),
    semantic AS (
        SELECT 
            id, 
            title, 
            overview, 
            combined_text, 
            (embedding <=> azure_openai.create_embeddings('text-embedding-3-large', %s, 2000, max_attempts => 5, retry_delay_ms => 500)::vector) AS score,
            'semantic' AS method,
            ROW_NUMBER() OVER (ORDER BY (embedding <=> azure_openai.create_embeddings('text-embedding-3-large', %s, 2000, max_attempts => 5, retry_delay_ms => 500)::vector)) AS index
        FROM movies
        ORDER BY score 
        LIMIT 15
    ),
    combined_results AS (
        SELECT * FROM fulltext
        UNION ALL
        SELECT * FROM semantic
    ),
    deduped_results AS (
        SELECT DISTINCT ON (id) 
            id, 
            title, 
            overview, 
            combined_text, 
            score, 
            method, 
            index
        FROM combined_results
        )
    SELECT * FROM deduped_results
    ORDER BY index
    LIMIT 10;
    """

    df_results = execute_query(search_query, (question_fulltext_enhanced,question_fulltext_enhanced,question_semantic_enhanced,question_semantic_enhanced))
    
    response = llm_final_answer(question_semantic_enhanced, build_context(df_results))
    print_output(df_results=df_results, question=q, response=response, question_enhanced=question_semantic_enhanced)

*************************************************
Top 10 matching movies for question: What movies are about Abby?
Enhanced question: What are some movies that feature a character named Abby?

,id,title,overview,combined_text,score,method,index
0,78383,Nurse 3-D,"Abby Russell, a beautiful, dedicated nurse wit...","TITLE: Nurse 3-D OVERVIEW: Abby Russell, a bea...",0.568308,semantic,1
1,40205,16 Wishes,"The story about Abby Jensen, a girl who's been...",TITLE: 16 Wishes OVERVIEW: The story about Abb...,0.082746,fulltext,1
2,43074,Ghostbusters,"Following a ghost invasion of Manhattan, paran...",TITLE: Ghostbusters OVERVIEW: Following a ghos...,0.060793,fulltext,2
3,9007,Just Like Heaven,Shortly after David Abbott moves into his new ...,TITLE: Just Like Heaven OVERVIEW: Shortly afte...,0.625876,semantic,2
4,2005,Sister Act,A Reno singer witnesses a mob murder and the c...,TITLE: Sister Act OVERVIEW: A Reno singer witn...,0.626774,semantic,3
5,11082,The Seventh Sign,Abby is a pregnant woman with a curious new bo...,TITLE: The Seventh Sign OVERVIEW: Abby is a pr...,0.060793,fulltext,3
6,51481,Mean Girls 2,The Plastics are back in the long awaited foll...,TITLE: Mean Girls 2 OVERVIEW: The Plastics are...,0.060793,fulltext,4
7,36968,Life-Size,"After her mom's death, Casey pulls away from e...",TITLE: Life-Size OVERVIEW: After her mom's dea...,0.633921,semantic,4
8,309245,Mistress America,"Tracy, a lonely college freshman in New York, ...","TITLE: Mistress America OVERVIEW: Tracy, a lon...",0.635295,semantic,5
9,13909,She Wore a Yellow Ribbon,After Custer and the 7th Cavalry are wiped out...,TITLE: She Wore a Yellow Ribbon OVERVIEW: Afte...,0.060793,fulltext,6

LLM response:

Here are some movies featuring a character named Abby:

1. **Nurse 3-D** - Abby Russell, a nurse with a sinister secret life.
2. **16 Wishes** - Abby Jensen, a girl whose 16th birthday takes a magical turn.
3. **Ghostbusters** - Abby Yates, a paranormal enthusiast battling a ghost invasion.
4. **The Seventh Sign** - Abby, a pregnant woman facing apocalyptic events.
5. **Mean Girls 2** - Abby, a timid girl targeted by school drama.
6. **She Wore a Yellow Ribbon** - Abby Allshard, the wife of a fort's commanding officer.

*************************************************
Top 10 matching movies for question: I have seen all Star Wars movies and would like tips for something similar I can watch next.
Enhanced question: I have watched all the Star Wars movies and would like recommendations for similar films or series that I can enjoy next.

,id,title,overview,combined_text,score,method,index
0,12180,Star Wars: The Clone Wars,"Set between Episode II and III, The Clone Wars...",TITLE: Star Wars: The Clone Wars OVERVIEW: Set...,0.341995,fulltext,1
1,354287,War Machine,A rock star general bent on winning the “impos...,TITLE: War Machine OVERVIEW: A rock star gener...,0.163199,fulltext,2
2,1891,The Empire Strikes Back,"The epic saga continues as Luke Skywalker, in ...",TITLE: The Empire Strikes Back OVERVIEW: The e...,0.578114,semantic,2
3,1895,Star Wars: Episode III - Revenge of the Sith,The evil Darth Sidious enacts his final plan f...,TITLE: Star Wars: Episode III - Revenge of the...,0.099103,fulltext,4
4,13532,Fanboys,"In 1999, Star Wars fanatics take a cross-count...","TITLE: Fanboys OVERVIEW: In 1999, Star Wars fa...",0.099103,fulltext,5
5,1893,Star Wars: Episode I - The Phantom Menace,"Anakin Skywalker, a young slave strong with th...",TITLE: Star Wars: Episode I - The Phantom Mena...,0.099103,fulltext,6
6,1892,Return of the Jedi,Luke Skywalker leads a mission to rescue his f...,TITLE: Return of the Jedi OVERVIEW: Luke Skywa...,0.633102,semantic,6
7,181808,Star Wars: The Last Jedi,Rey develops her newly discovered abilities wi...,TITLE: Star Wars: The Last Jedi OVERVIEW: Rey ...,0.099103,fulltext,7
8,157336,Interstellar,The adventures of a group of explorers who mak...,TITLE: Interstellar OVERVIEW: The adventures o...,0.649155,semantic,7
9,13475,Star Trek,The fate of the galaxy rests in the hands of b...,TITLE: Star Trek OVERVIEW: The fate of the gal...,0.651601,semantic,8

LLM response:

If you're looking for similar films or series after watching all the *Star Wars* movies, consider:

1. **Star Wars: The Clone Wars** – A computer-animated film set between Episodes II and III, offering more adventures with Anakin and Obi-Wan during the galactic conflict.
2. **Star Trek** – A sci-fi epic exploring space adventures, intergalactic conflicts, and the dynamic partnership of Kirk and Spock, echoing themes of teamwork and exploration.
3. **Interstellar** – A grand, emotional space journey delving into themes of survival, exploration, and the unknown, with stunning visuals and a thought-provoking story.

These options offer a mix of space adventure, compelling characters, and high-stakes storytelling similar to *Star Wars*.

*************************************************
Top 10 matching movies for question: What is the most common genre of the movies where one of key figures is called Mark?
Enhanced question: What is the most common genre of movies that feature a character named Mark as one of the key figures?

,id,title,overview,combined_text,score,method,index
0,351044,Welcome to Marwen,When a devastating attack shatters Mark Hoganc...,TITLE: Welcome to Marwen OVERVIEW: When a deva...,0.631467,semantic,1
1,13498,Man of the House,Texas Ranger Roland Sharp is assigned to prote...,TITLE: Man of the House OVERVIEW: Texas Ranger...,0.099103,fulltext,1
2,13851,Batman: Gotham Knight,A collection of key events mark Bruce Wayne's ...,TITLE: Batman: Gotham Knight OVERVIEW: A colle...,0.098501,fulltext,2
3,365942,The Space Between Us,A young man raised by scientists on Mars retur...,TITLE: The Space Between Us OVERVIEW: A young ...,0.655379,semantic,2
4,11167,Peeping Tom,Loner Mark Lewis works at a film studio during...,TITLE: Peeping Tom OVERVIEW: Loner Mark Lewis ...,0.658308,semantic,3
5,12618,Random Hearts,After the death of their loved ones in a tragi...,TITLE: Random Hearts OVERVIEW: After the death...,0.001547,fulltext,3
6,11323,The Informant!,A rising star at agri-industry giant Archer Da...,TITLE: The Informant! OVERVIEW: A rising star ...,0.000028,fulltext,4
7,271404,Beyond Skyline,Detective Mark Corley storms his way onto an a...,TITLE: Beyond Skyline OVERVIEW: Detective Mark...,0.668091,semantic,4
8,87818,Movie 43,A series of interconnected short films follows...,TITLE: Movie 43 OVERVIEW: A series of intercon...,0.669879,semantic,5
9,672647,The Map of Tiny Perfect Things,The film tells the story of quick-witted teen ...,TITLE: The Map of Tiny Perfect Things OVERVIEW...,0.000007,fulltext,5

LLM response:

Based on the context, the most common genre of movies featuring a key character named Mark is **drama with a mix of fantasy or psychological elements**. Examples include *Welcome to Marwen*, *Peeping Tom*, *The Informant!*, and *The Map of Tiny Perfect Things*.

### Hybrid search with reranking

In [230]:
import pandas as pd
from flashrank import Ranker, RerankRequest
ranker = Ranker(model_name="ms-marco-MiniLM-L-12-v2", cache_dir="/opt")

for q in questions:
    # Use LLM to enhance the question for full-text search
    question_enhancement_prompt = """
    You are an assistant that transforms user questions into search queries suitable for full-text search.
    Your task is to extract key entities such as persons, places and other words specific enough to be suitable for full-text search from the user's question, while ignoring common stop words, filler words and generic words.
    Ignore words like 'what', 'why', 'the', 'a', 'please', and other similar words that do not contain actual information.
    Ignore generic words that do not add value to the search for specific item, such as 'movie', 'film', 'show', etc.
    Your response MUST contain only resulting words, separated by spaces. Do not add any other text.
    """
    question_fulltext_enhanced = gpt_4o_mini_client.chat.completions.create(  
        model="gpt-4o-mini",
        messages=[
                {"role": "system", "content": question_enhancement_prompt},
                {"role": "user", "content": f"QUESTION: {q}"}
        ],
        max_tokens=200,  
        temperature=0.7,
    ).choices[0].message.content

    # Use LLM to enhance the question
    question_enhancement_prompt = """
    You are an assistant that enhances user questions to be clear, well formulated and specific, with no grammar errors.
    DO NOT ask clarifying questions, your task is just to enhance the question for further processing and vector search.
    """
    question_semantic_enhanced = gpt_4o_mini_client.chat.completions.create(  
        model="gpt-4o-mini",
        messages=[
                {"role": "system", "content": question_enhancement_prompt},
                {"role": "user", "content": f"QUESTION: {q}"}
        ],
        max_tokens=200,  
        temperature=0.7,
    ).choices[0].message.content

    # Execute full-text search query in PostgreSQL
    search_query = """
    WITH fulltext AS (
        SELECT 
            id, 
            title, 
            overview, 
            combined_text, 
            ts_rank(full_text_search, plainto_tsquery('english', %s)) AS score,
            'fulltext' AS method,
            ROW_NUMBER() OVER (ORDER BY ts_rank(full_text_search, plainto_tsquery('english', %s)) DESC) AS index
        FROM movies
        ORDER BY score DESC
        LIMIT 15
    ),
    semantic AS (
        SELECT 
            id, 
            title, 
            overview, 
            combined_text, 
            (embedding <=> azure_openai.create_embeddings('text-embedding-3-large', %s, 2000, max_attempts => 5, retry_delay_ms => 500)::vector) AS score,
            'semantic' AS method,
            ROW_NUMBER() OVER (ORDER BY (embedding <=> azure_openai.create_embeddings('text-embedding-3-large', %s, 2000, max_attempts => 5, retry_delay_ms => 500)::vector)) AS index
        FROM movies
        ORDER BY score 
        LIMIT 15
    ),
    combined_results AS (
        SELECT * FROM fulltext
        UNION ALL
        SELECT * FROM semantic
    ),
    deduped_results AS (
        SELECT DISTINCT ON (id) 
            id, 
            title, 
            overview, 
            combined_text, 
            score, 
            method, 
            index
        FROM combined_results
        )
    SELECT * FROM deduped_results
    ORDER BY index
    """

    df_results = execute_query(search_query, (question_fulltext_enhanced,question_fulltext_enhanced,question_semantic_enhanced,question_semantic_enhanced))

    # ReRanking
    passages = []
    for _, row in df_results.iterrows():
        passages.append({
            "id": row["id"],
            "text": row["combined_text"]
        })
    rerank_request = RerankRequest(query=q, passages=passages)
    rerank_output = ranker.rerank(rerank_request)
    rank_mapping = {result["id"]: rank for rank, result in enumerate(rerank_output, start=1)}
    df_results["ranker_index"] = df_results["id"].map(rank_mapping)
    df_results = df_results.sort_values("ranker_index")[:10]

    response = llm_final_answer(question_semantic_enhanced, build_context(df_results))
    print_output(df_results=df_results, question=q, response=response, question_enhanced=question_semantic_enhanced)

INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o-mini/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"
INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o-mini/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"
INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"

*************************************************
Top 10 matching movies for question: What movies are about Abby?
Enhanced question: What movies feature a character named Abby?

,id,title,overview,combined_text,score,method,index,ranker_index
0,78383,Nurse 3-D,"Abby Russell, a beautiful, dedicated nurse wit...","TITLE: Nurse 3-D OVERVIEW: Abby Russell, a bea...",0.568289,semantic,1,1
2,51481,Mean Girls 2,The Plastics are back in the long awaited foll...,TITLE: Mean Girls 2 OVERVIEW: The Plastics are...,0.060793,fulltext,2,2
10,11082,The Seventh Sign,Abby is a pregnant woman with a curious new bo...,TITLE: The Seventh Sign OVERVIEW: Abby is a pr...,0.060793,fulltext,6,3
1,40205,16 Wishes,"The story about Abby Jensen, a girl who's been...",TITLE: 16 Wishes OVERVIEW: The story about Abb...,0.082746,fulltext,1,4
11,43074,Ghostbusters,"Following a ghost invasion of Manhattan, paran...",TITLE: Ghostbusters OVERVIEW: Following a ghos...,0.060793,fulltext,7,5
7,13909,She Wore a Yellow Ribbon,After Custer and the 7th Cavalry are wiped out...,TITLE: She Wore a Yellow Ribbon OVERVIEW: Afte...,0.060793,fulltext,5,6
20,471506,Greta,A young woman returns an elderly widow’s lost ...,TITLE: Greta OVERVIEW: A young woman returns a...,0.651897,semantic,11,7
16,10035,100 Girls,"This sexy, teen-comedy is about a freshman, Ma...","TITLE: 100 Girls OVERVIEW: This sexy, teen-com...",0.651255,semantic,9,8
25,310137,Bound to Vengeance,"A young woman, Eve, fights back and manages to...",TITLE: Bound to Vengeance OVERVIEW: A young wo...,0.654541,semantic,14,9
5,309245,Mistress America,"Tracy, a lonely college freshman in New York, ...","TITLE: Mistress America OVERVIEW: Tracy, a lon...",0.633458,semantic,4,10

LLM response:

The following movies feature a character named Abby:

1. **Nurse 3-D**: Abby Russell, a nurse with a sinister side.
2. **Mean Girls 2**: Abby, a timid girl preyed upon by the school's Queen Bee.
3. **The Seventh Sign**: Abby, a pregnant woman dealing with apocalyptic events.
4. **16 Wishes**: Abby Jensen, a girl whose 16th birthday takes a magical turn.
5. **Ghostbusters**: Abby Yates, a paranormal enthusiast.
6. **She Wore a Yellow Ribbon**: Abby Allshard, the wife of the fort's commanding officer.

INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o-mini/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"
INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o-mini/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"
INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"

*************************************************
Top 10 matching movies for question: I have seen all Star Wars movies and would like tips for something similar I can watch next.
Enhanced question: I have watched all the Star Wars movies, and I am looking for recommendations for similar films or series that I can watch next.

,id,title,overview,combined_text,score,method,index,ranker_index
19,13532,Fanboys,"In 1999, Star Wars fanatics take a cross-count...","TITLE: Fanboys OVERVIEW: In 1999, Star Wars fa...",0.099103,fulltext,13,1
0,12180,Star Wars: The Clone Wars,"Set between Episode II and III, The Clone Wars...",TITLE: Star Wars: The Clone Wars OVERVIEW: Set...,0.341995,fulltext,1,2
18,1893,Star Wars: Episode I - The Phantom Menace,"Anakin Skywalker, a young slave strong with th...",TITLE: Star Wars: Episode I - The Phantom Mena...,0.099103,fulltext,12,3
11,140607,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,TITLE: Star Wars: The Force Awakens OVERVIEW: ...,0.099103,fulltext,9,4
4,1894,Star Wars: Episode II - Attack of the Clones,Following an assassination attempt on Senator ...,TITLE: Star Wars: Episode II - Attack of the C...,0.099103,fulltext,4,5
8,181812,Star Wars: The Rise of Skywalker,The surviving Resistance faces the First Order...,TITLE: Star Wars: The Rise of Skywalker OVERVI...,0.099103,fulltext,7,6
16,1895,Star Wars: Episode III - Revenge of the Sith,The evil Darth Sidious enacts his final plan f...,TITLE: Star Wars: Episode III - Revenge of the...,0.099103,fulltext,11,7
1,11,Star Wars,Princess Leia is captured and held hostage by ...,TITLE: Star Wars OVERVIEW: Princess Leia is ca...,0.581898,semantic,1,8
5,348350,Solo: A Star Wars Story,Through a series of daring escapades deep with...,TITLE: Solo: A Star Wars Story OVERVIEW: Throu...,0.099103,fulltext,5,9
7,181808,Star Wars: The Last Jedi,Rey develops her newly discovered abilities wi...,TITLE: Star Wars: The Last Jedi OVERVIEW: Rey ...,0.099103,fulltext,6,10

LLM response:

If you’ve watched all the Star Wars movies, you can explore the animated *Star Wars: The Clone Wars* film for additional backstory and character development within the Star Wars universe. Outside the main saga, *Fanboys* offers a fun, Star Wars-themed road trip comedy centered around fandom. Both are great choices to extend your love for Star Wars in different ways.

INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o-mini/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"
INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o-mini/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"
INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"

*************************************************
Top 10 matching movies for question: What is the most common genre of the movies where one of key figures is called Mark?
Enhanced question: What is the most common genre of movies that feature a character named Mark as one of the key figures?

,id,title,overview,combined_text,score,method,index,ranker_index
2,13851,Batman: Gotham Knight,A collection of key events mark Bruce Wayne's ...,TITLE: Batman: Gotham Knight OVERVIEW: A colle...,0.098501,fulltext,2,1
8,672647,The Map of Tiny Perfect Things,The film tells the story of quick-witted teen ...,TITLE: The Map of Tiny Perfect Things OVERVIEW...,0.000007,fulltext,5,2
6,11323,The Informant!,A rising star at agri-industry giant Archer Da...,TITLE: The Informant! OVERVIEW: A rising star ...,0.000028,fulltext,4,3
7,271404,Beyond Skyline,Detective Mark Corley storms his way onto an a...,TITLE: Beyond Skyline OVERVIEW: Detective Mark...,0.668091,semantic,4,4
0,351044,Welcome to Marwen,When a devastating attack shatters Mark Hoganc...,TITLE: Welcome to Marwen OVERVIEW: When a deva...,0.631467,semantic,1,5
1,13498,Man of the House,Texas Ranger Roland Sharp is assigned to prote...,TITLE: Man of the House OVERVIEW: Texas Ranger...,0.099103,fulltext,1,6
4,11167,Peeping Tom,Loner Mark Lewis works at a film studio during...,TITLE: Peeping Tom OVERVIEW: Loner Mark Lewis ...,0.658308,semantic,3,7
9,87818,Movie 43,A series of interconnected short films follows...,TITLE: Movie 43 OVERVIEW: A series of intercon...,0.669879,semantic,5,8
5,12618,Random Hearts,After the death of their loved ones in a tragi...,TITLE: Random Hearts OVERVIEW: After the death...,0.001547,fulltext,3,9
27,9873,F/X,A movies special effects man is hired by a gov...,TITLE: F/X OVERVIEW: A movies special effects ...,0.684562,semantic,14,10

LLM response:

Based on the provided context, the most common genre of movies featuring a character named Mark as a key figure is drama with elements of thriller, sci-fi, or fantasy, often involving unique or extraordinary circumstances. Examples include *The Map of Tiny Perfect Things* (fantasy romance), *The Informant!* (drama/thriller), *Beyond Skyline* (sci-fi action), and *Welcome to Marwen* (drama/fantasy).

### Graph RAG

### Cleanup

In [ ]:
# command = "DROP TABLE IF EXISTS movies;"
# try:
#     with conn.cursor() as cursor:
#         cursor.execute(command)
#         conn.commit()
#     print("Cleanup completed: Table 'movies' has been dropped.")
# except psycopg2.Error as e:
#     print(f"Error: {e}")
#     conn.rollback()