# RAG demos with PostgreSQL

## Loading data, indexing, creating embeddings

Import data CSV data to Pandas DataFrame

In [100]:
import pandas as pd
df = pd.read_csv('./data/movies.csv')
df.head()

,Unnamed: 0,id,title,overview,release_date,popularity,vote_average,vote_count
0,0,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,18.433,8.7,2763
1,1,724089,Gabriel's Inferno Part II,Professor Gabriel Emerson finally learns the t...,2020-07-31,8.439,8.7,1223
2,2,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,65.570,8.7,18637
3,3,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,63.277,8.7,14052
4,4,761053,Gabriel's Inferno Part III,The final part of the film adaption of the ero...,2020-11-19,26.691,8.7,773

Make sure to deploy Azure infrastructure using ```terraform apply``` command in terraform folder.

In [158]:
import subprocess
import os
import json

original_dir = os.getcwd()
try:
    # Jump into the terraform directory
    os.chdir('terraform')

    # Get the database connection string
    PGHOST = subprocess.run(['terraform', 'output', '-raw', 'PGHOST'], stdout=subprocess.PIPE).stdout.decode('utf-8')
    PGDATABASE = subprocess.run(['terraform', 'output', '-raw', 'PGDATABASE'], stdout=subprocess.PIPE).stdout.decode('utf-8')
    PGUSER = subprocess.run(['terraform', 'output', '-raw', 'PGUSER'], stdout=subprocess.PIPE).stdout.decode('utf-8')
    PGPASSWORD = subprocess.run(['terraform', 'output', '-raw', 'PGPASSWORD'], stdout=subprocess.PIPE).stdout.decode('utf-8')
    db_uri = f"postgresql://{PGUSER}:{PGPASSWORD}@{PGHOST}/{PGDATABASE}?sslmode=require"

    # Get the embedding model endpoint and key
    model_configurations = subprocess.run(['terraform', 'output', '-raw', 'model_configurations'], stdout=subprocess.PIPE).stdout.decode('utf-8')
    model_config = json.loads(model_configurations)
    embedding_model = model_config["models"]["text-embedding-3-large"]
    EMBEDDINGS_ENDPOINT = embedding_model["endpoint"]
    EMBEDDINGS_KEY = embedding_model["key"]
    gpt_4o_mini_model = model_config["models"]["gpt-4o-mini"]
    GPT_4O_MINI_ENDPOINT = gpt_4o_mini_model["endpoint"]
    GPT_4O_MINI_KEY = gpt_4o_mini_model["key"]
    gpt_4o_model = model_config["models"]["gpt-4o"]
    GPT_4O_ENDPOINT = gpt_4o_model["endpoint"]
    GPT_4O_KEY = gpt_4o_model["key"]

    print(f"Using {db_uri} as the database connection string")
    print(f"Using {EMBEDDINGS_ENDPOINT} as the embedding model endpoint")
    print(f"Using {GPT_4O_MINI_ENDPOINT} as the gpt-4o-mini model endpoint")
    print(f"Using {GPT_4O_ENDPOINT} as the gpt-4o model endpoint")

finally:
    os.chdir(original_dir)

Using postgresql://psqladmin:)ycxlsxlLRKks*g#@psql-graphrag-psbv.postgres.database.azure.com/demo?sslmode=require as the database connection string
Using https://graphrag-psbv.openai.azure.com/ as the embedding model endpoint
Using https://graphrag-psbv.openai.azure.com/ as the gpt-4o-mini model endpoint
Using https://graphrag-psbv.openai.azure.com/ as the gpt-4o model endpoint

Create clients for PostgreSQL and OpenAI models

In [232]:
import psycopg2
from psycopg2 import sql
from openai import AzureOpenAI 

conn = psycopg2.connect(db_uri)

gpt_4o_client = AzureOpenAI(  
    azure_endpoint=GPT_4O_ENDPOINT,  
    api_key=GPT_4O_KEY,  
    api_version="2024-05-01-preview",
)

gpt_4o_mini_client = AzureOpenAI(
    azure_endpoint=GPT_4O_MINI_ENDPOINT,  
    api_key=GPT_4O_MINI_KEY,  
    api_version="2024-05-01-preview",
)

### Install and configure extensions

List extensions

In [103]:
command = """
SELECT * FROM pg_extension;
"""

with conn.cursor() as cursor:
    cursor.execute(command)
    result = cursor.fetchall()
    columns = [desc[0] for desc in cursor.description]

pd.DataFrame(result, columns=columns)

,oid,extname,extowner,extnamespace,extrelocatable,extversion,extconfig,extcondition
0,14258,plpgsql,10,11,False,1.0,None,None
1,24760,vector,10,2200,True,0.7.0,None,None
2,25080,pg_diskann,10,2200,False,0.3.2,None,None
3,25099,azure_ai,10,11,False,1.1.0,None,None

Install extensions

In [104]:
command = """
CREATE EXTENSION IF NOT EXISTS vector;
CREATE EXTENSION IF NOT EXISTS pg_diskann CASCADE;
CREATE EXTENSION IF NOT EXISTS azure_ai;
"""

try:
    with conn.cursor() as cursor:
        cursor.execute(command)
        conn.commit()
except psycopg2.Error as e:
    print(f"Error: {e}")
    conn.rollback()

Configure extensions

In [105]:
command = f"""
select azure_ai.set_setting('azure_openai.endpoint','{EMBEDDINGS_ENDPOINT}'); 
select azure_ai.set_setting('azure_openai.subscription_key', '{EMBEDDINGS_KEY}'); 
"""

try:
    with conn.cursor() as cursor:
        cursor.execute(command)
        conn.commit()
except psycopg2.Error as e:
    print(f"Error: {e}")
    conn.rollback()

In [106]:
command = f"""
select azure_ai.get_setting('azure_openai.subscription_key');
"""

try:
    with conn.cursor() as cursor:
        cursor.execute(command)
        result = cursor.fetchone()
        print(result)
except psycopg2.Error as e:
    print(f"Error: {e}")
    conn.rollback()

('bfe0df31766a4bd7ad5eda631f0c2391',)

Create table movies

In [107]:
command = """
CREATE TABLE IF NOT EXISTS movies (
    id SERIAL PRIMARY KEY,
    title VARCHAR(255),
    overview TEXT,
    combined_text TEXT,
    embedding vector(2000),
    full_text_search tsvector GENERATED ALWAYS AS (to_tsvector('english', combined_text)) STORED
);
"""

try:
    with conn.cursor() as cursor:
        cursor.execute(command)
        conn.commit()
except psycopg2.Error as e:
    print(f"Error: {e}")
    conn.rollback()

In [108]:
command = """
CREATE INDEX IF NOT EXISTS diskann_idx ON movies USING diskann (embedding vector_cosine_ops)
"""

try:
    with conn.cursor() as cursor:
        cursor.execute(command)
        conn.commit()
except psycopg2.Error as e:
    print(f"Error: {e}")
    conn.rollback()

Insert data into movies table

In [109]:
import psycopg2.extras

with conn.cursor() as cursor:
    for _, row in df.iterrows():
        combined_text = f"TITLE: {row['title']} OVERVIEW: {row['overview']}"
        cursor.execute(
            """
            INSERT INTO movies (id, title, overview, combined_text)
            VALUES (%s, %s, %s, %s)
            ON CONFLICT (id) DO NOTHING;
            """,
            (row['id'], row['title'], row['overview'], combined_text)
        )
    conn.commit()

In [114]:
command = """
SELECT * FROM movies LIMIT 10;
"""

with conn.cursor() as cursor:
    cursor.execute(command)
    result = cursor.fetchall()
    columns = [desc[0] for desc in cursor.description]

pd.DataFrame(result, columns=columns)

,id,title,overview,combined_text,embedding,full_text_search
0,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",TITLE: Dilwale Dulhania Le Jayenge OVERVIEW: R...,"[-0.033203255,0.02153137,-0.011526895,0.024170...",'adher':38 'baldev':25 'begin':77 'carefre':11...
1,724089,Gabriel's Inferno Part II,Professor Gabriel Emerson finally learns the t...,TITLE: Gabriel's Inferno Part II OVERVIEW: Pro...,None,'anoth':61 'arm':63 'back':53 'come':23 'dant'...
2,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,TITLE: The Shawshank Redemption OVERVIEW: Fram...,None,'1940s':9 'account':36 'admir':54 'amor':42 'a...
3,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",TITLE: The Godfather OVERVIEW: Spanning the ye...,None,'1945':8 '1955':10 'american':18 'attempt':32 ...
4,761053,Gabriel's Inferno Part III,The final part of the film adaption of the ero...,TITLE: Gabriel's Inferno Part III OVERVIEW: Th...,None,'adapt':14 'anonym':26 'author':28 'canadian':...
5,872,Singin' in the Rain,"In 1927 Hollywood, a silent film production co...",TITLE: Singin' in the Rain OVERVIEW: In 1927 H...,None,'1927':8 'cast':16 'compani':14 'difficult':19...
6,696374,Gabriel's Inferno,An intriguing and sinful exploration of seduct...,TITLE: Gabriel's Inferno OVERVIEW: An intrigui...,None,'captiv':22 'earn':41 'escap':31 'explor':10 '...
7,791373,Zack Snyder's Justice League,Determined to ensure Superman's ultimate sacri...,TITLE: Zack Snyder's Justice League OVERVIEW: ...,None,'align':21 'approach':40 'bruce':19 'catastrop...
8,399566,Godzilla vs. Kong,"In a time when monsters walk the Earth, humani...",TITLE: Godzilla vs. Kong OVERVIEW: In a time w...,None,'age':48 'battl':45 'collid':41 'collis':26 'c...
9,441130,Wolfwalkers,"In a time of superstition and magic, when wolv...",TITLE: Wolfwalkers OVERVIEW: In a time of supe...,None,'apprentic':26 'come':28 'demon':16 'destroy':...

Create embeddings

In [115]:
import psycopg2

batch_size = 500  # Number of rows to update in each batch

try:
    with conn.cursor() as cursor:
        # Get the total number of rows to update
        cursor.execute("SELECT COUNT(*) FROM movies WHERE embedding IS NULL;")
        total_rows = cursor.fetchone()[0]
        print(f"Total rows to update: {total_rows}")

        # Update rows in batches
        offset = 0
        while offset < total_rows:
            command = f"""
            UPDATE movies
            SET embedding = azure_openai.create_embeddings('text-embedding-3-large', combined_text, 2000, max_attempts => 5, retry_delay_ms => 500)
            WHERE id IN (
                SELECT id
                FROM movies
                WHERE embedding IS NULL
                LIMIT {batch_size} OFFSET {offset}
            );
            """
            cursor.execute(command)
            conn.commit()
            offset += batch_size
            print(f"Updated {min(offset, total_rows)} of {total_rows} rows")

except psycopg2.Error as e:
    print(f"Error: {e}")
    conn.rollback()

Total rows to update: 8550
Updated 500 of 8550 rows
Updated 1000 of 8550 rows
Updated 1500 of 8550 rows
Updated 2000 of 8550 rows
Updated 2500 of 8550 rows
Updated 3000 of 8550 rows
Updated 3500 of 8550 rows
Updated 4000 of 8550 rows
Updated 4500 of 8550 rows
Updated 5000 of 8550 rows
Updated 5500 of 8550 rows
Updated 6000 of 8550 rows
Updated 6500 of 8550 rows
Updated 7000 of 8550 rows
Updated 7500 of 8550 rows
Updated 8000 of 8550 rows
Updated 8500 of 8550 rows
Updated 8550 of 8550 rows

In [116]:
command = """
SELECT * FROM movies LIMIT 10;
"""

with conn.cursor() as cursor:
    cursor.execute(command)
    result = cursor.fetchall()
    columns = [desc[0] for desc in cursor.description]

pd.DataFrame(result, columns=columns)

,id,title,overview,combined_text,embedding,full_text_search
0,423612,Never Look Away,"The story of Kurt, a young art student who fal...",TITLE: Never Look Away OVERVIEW: The story of ...,"[0.010460264,0.03285887,-0.019344991,0.0469737...",'ago':64 'alreadi':55 'art':12 'away':4 'boyfr...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",TITLE: Dilwale Dulhania Le Jayenge OVERVIEW: R...,"[-0.033203255,0.02153137,-0.011526895,0.024170...",'adher':38 'baldev':25 'begin':77 'carefre':11...
2,9900,Grandma's Boy,"Even though he's 35, Alex acts more like he's ...",TITLE: Grandma's Boy OVERVIEW: Even though he'...,"[0.0030696925,0.02457246,-0.022080898,0.021558...",'13':17 '35':10 'act':12 'alex':11 'apart':46 ...
3,78383,Nurse 3-D,"Abby Russell, a beautiful, dedicated nurse wit...","TITLE: Nurse 3-D OVERVIEW: Abby Russell, a bea...","[0.002974399,0.016073475,-0.006025722,0.021817...",'3':3 'abbi':6 'beauti':9 'd':4 'dedic':10 'di...
4,12657,Soul Plane,Following a ridiculously awful flight that lea...,TITLE: Soul Plane OVERVIEW: Following a ridicu...,"[-0.016872132,0.002083541,-0.010495951,-0.0399...",'african':50 'african-american':49 'airlin':24...
5,10216,Species II,"Having just returned from a mission to Mars, C...",TITLE: Species II OVERVIEW: Having just return...,"[-0.014371347,0.0046571563,-0.024638902,-0.017...","'alien':25,45,60 'assassin':52 'baker':49 'bea..."
6,256274,"As Above, So Below",When a team of explorers ventures into the cat...,"TITLE: As Above, So Below OVERVIEW: When a tea...","[-0.045271445,0.0042207493,-0.015132168,-0.014...",'beneath':18 'catacomb':15 'citi':32 'dark':26...
7,10154,Mickey Blue Eyes,An English auctioneer proposes to the daughter...,TITLE: Mickey Blue Eyes OVERVIEW: An English a...,"[-0.019462595,0.012176347,-0.019544097,0.03455...",'ask':25 'auction':8 'blue':3 'certain':21 'da...
8,6538,Charlie Wilson's War,The true story of Texas congressman Charlie Wi...,TITLE: Charlie Wilson's War OVERVIEW: The true...,"[0.035006616,0.010568285,-0.017317668,0.016561...","'afghanistan':19 'assist':24 'charli':2,13 'co..."
9,486131,Shaft,"JJ, aka John Shaft Jr., may be a cyber securit...","TITLE: Shaft OVERVIEW: JJ, aka John Shaft Jr.,...","[0.016566234,0.0061599636,-0.014157039,0.00814...",'absent':41 'agre':54 'aka':5 'behind':25 'bes...

## Querying

In [243]:
questions = [
    "What movies are about Abby?",
    "I have seen all Star Wars movies and would like tips for something similar I can watch next.",
    "What is the most common genre of the movies where one of key figures is called Mark?"
]

In [244]:
import pandas as pd
from pandas import DataFrame
from IPython.display import display, Markdown

def build_context(df: DataFrame) -> str:
    context = "CONTEXT:\n"
    for _, row in df.iterrows():
        context += f"- ID: {row['id']} {row['combined_text']}\n"
    return context

def execute_query(query: str, parameters: tuple) -> DataFrame:
    with conn.cursor() as cursor:
        cursor.execute(query, parameters)
        result = cursor.fetchall()
        columns = [desc[0] for desc in cursor.description]
    return pd.DataFrame(result, columns=columns)

def llm_final_answer(question: str, context: str) -> str:
    system_prompt = """
    You are a movies expert who answers questions based on movie details. 
    You will be provided with most relevant list of movies with their titles and overview that are results of search based on user question. 
    Make sure your answer is based ONLY on context provided and when referencing any movie make sure to list its id.
    """
    user_prompt = f"QUESTION: {question}\n{context}\n\nAnswer concisely."
    messages = [
        {"role": "system", "content": system_prompt},
        {"role": "user", "content": user_prompt}
    ]
    completion = gpt_4o_client.chat.completions.create(  
        model="gpt-4o",
        messages=messages,
        max_tokens=200,  
        temperature=0.7,
    )
    return completion.choices[0].message.content

def print_output(df_results: DataFrame, question: str, response: str, question_enhanced = None) -> None:
    print("\n\n*************************************************")
    print(f"Top 10 matching movies for question: {question}")
    if question_enhanced:
        print(f"Enhanced question: {question_enhanced}")
    display(df_results)
    print("LLM response:")
    display(Markdown(response))

### Full-text search
In this demo we will simply use full-text search directly from user question. Note results are not very good because full-text is flooded with stop words and other common terms that are not very useful.

In [245]:
import pandas as pd

for q in questions:
    # Execute full-text search query in PostgreSQL
    search_query = """
    SELECT id, title, overview, combined_text,
           ts_rank(full_text_search, plainto_tsquery('english', %s)) as rank
    FROM movies
    ORDER BY rank DESC
    LIMIT 10;
    """
    df_results = execute_query(search_query, (q,))
    
    response = llm_final_answer(q, build_context(df_results))
    print_output(df_results=df_results, question=q, response=response)

INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"

*************************************************
Top 10 matching movies for question: What movies are about Abby?

,id,title,overview,combined_text,rank
0,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",TITLE: Dilwale Dulhania Le Jayenge OVERVIEW: R...,1.000000e-20
1,9900,Grandma's Boy,"Even though he's 35, Alex acts more like he's ...",TITLE: Grandma's Boy OVERVIEW: Even though he'...,1.000000e-20
2,78383,Nurse 3-D,"Abby Russell, a beautiful, dedicated nurse wit...","TITLE: Nurse 3-D OVERVIEW: Abby Russell, a bea...",1.000000e-20
3,12657,Soul Plane,Following a ridiculously awful flight that lea...,TITLE: Soul Plane OVERVIEW: Following a ridicu...,1.000000e-20
4,10216,Species II,"Having just returned from a mission to Mars, C...",TITLE: Species II OVERVIEW: Having just return...,1.000000e-20
5,256274,"As Above, So Below",When a team of explorers ventures into the cat...,"TITLE: As Above, So Below OVERVIEW: When a tea...",1.000000e-20
6,10154,Mickey Blue Eyes,An English auctioneer proposes to the daughter...,TITLE: Mickey Blue Eyes OVERVIEW: An English a...,1.000000e-20
7,6538,Charlie Wilson's War,The true story of Texas congressman Charlie Wi...,TITLE: Charlie Wilson's War OVERVIEW: The true...,1.000000e-20
8,486131,Shaft,"JJ, aka John Shaft Jr., may be a cyber securit...","TITLE: Shaft OVERVIEW: JJ, aka John Shaft Jr.,...",1.000000e-20
9,423612,Never Look Away,"The story of Kurt, a young art student who fal...",TITLE: Never Look Away OVERVIEW: The story of ...,1.000000e-20

LLM response:

The movie **"Nurse 3-D" (ID: 78383)** is about Abby Russell, a beautiful but sinister nurse with a secret life where she targets and punishes dishonest men.

INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"

*************************************************
Top 10 matching movies for question: I have seen all Star Wars movies and would like tips for something similar I can watch next.

,id,title,overview,combined_text,rank
0,12180,Star Wars: The Clone Wars,"Set between Episode II and III, The Clone Wars...",TITLE: Star Wars: The Clone Wars OVERVIEW: Set...,0.341995
1,1252,Lonely Hearts,Based on a true story. . . . In the late 1940s...,TITLE: Lonely Hearts OVERVIEW: Based on a true...,0.190833
2,249,The War of the Roses,"The Roses, Barbara and Oliver, live happily as...",TITLE: The War of the Roses OVERVIEW: The Rose...,0.176170
3,354287,War Machine,A rock star general bent on winning the “impos...,TITLE: War Machine OVERVIEW: A rock star gener...,0.163199
4,474395,Teen Titans Go! To the Movies,All the major DC superheroes are starring in t...,TITLE: Teen Titans Go! To the Movies OVERVIEW:...,0.157244
5,10479,Rules of Engagement,"Part war movie, part courtroom thriller, this ...",TITLE: Rules of Engagement OVERVIEW: Part war ...,0.145719
6,14564,Rings,"Julia becomes worried about her boyfriend, Hol...",TITLE: Rings OVERVIEW: Julia becomes worried a...,0.132628
7,8944,What Just Happened,During the course of an ordinary week in Holly...,TITLE: What Just Happened OVERVIEW: During the...,0.113345
8,50848,The Names of Love,"Bahia Benmahmoud, a free-spirited young woman,...",TITLE: The Names of Love OVERVIEW: Bahia Benma...,0.109496
9,4248,Scary Movie 2,While the original parodied slasher flicks lik...,TITLE: Scary Movie 2 OVERVIEW: While the origi...,0.106079

LLM response:

If you’ve enjoyed the Star Wars saga, you might like **Star Wars: The Clone Wars (ID: 12180)**. This computer-animated film expands on the Star Wars universe, set between Episodes II and III, and follows Anakin and Obi-Wan on a mission to rescue Jabba the Hutt's son. It maintains the Star Wars feel with action, diplomacy, and the battle between the Republic and the Separatists.

INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"

*************************************************
Top 10 matching movies for question: What is the most common genre of the movies where one of key figures is called Mark?

,id,title,overview,combined_text,rank
0,13805,Disaster Movie,"The filmmaking team behind the hits ""Scary Mov...",TITLE: Disaster Movie OVERVIEW: The filmmaking...,0.244731
1,670203,Il talento del calabrone,"Dj Steph is a young radio deejay on the rise, ...",TITLE: Il talento del calabrone OVERVIEW: Dj S...,0.183329
2,158011,The Call,Jordan Turner is an experienced 911 operator b...,TITLE: The Call OVERVIEW: Jordan Turner is an ...,0.181543
3,14564,Rings,"Julia becomes worried about her boyfriend, Hol...",TITLE: Rings OVERVIEW: Julia becomes worried a...,0.174351
4,11644,Blow Out,Jack Terry is a master sound recordist who wor...,TITLE: Blow Out OVERVIEW: Jack Terry is a mast...,0.134355
5,9656,Black Christmas,An escaped maniac returns to his childhood hom...,TITLE: Black Christmas OVERVIEW: An escaped ma...,0.123951
6,16562,The Cutting Edge,"Two former Olympians, one a figure skater and ...",TITLE: The Cutting Edge OVERVIEW: Two former O...,0.119995
7,11891,Kung Pow: Enter the Fist,"A movie within a movie, created to spoof the m...",TITLE: Kung Pow: Enter the Fist OVERVIEW: A mo...,0.112968
8,218784,Freaks of Nature,"In the town of Dillford, humans, vampires and ...",TITLE: Freaks of Nature OVERVIEW: In the town ...,0.106518
9,11918,Superhero Movie,The team behind Scary Movie takes on the comic...,TITLE: Superhero Movie OVERVIEW: The team behi...,0.105174

LLM response:

Based on the context provided, the most common genre among the listed movies featuring a key figure named Mark is **comedy/parody**. Examples include *Disaster Movie* (ID: 13805), *Kung Pow: Enter the Fist* (ID: 11891), and *Superhero Movie* (ID: 11918).

### Full-text search with intent extraction
In this example we are using smaller LLM (gpt-4o-mini) to extract key words fro question, remove stop words and prepare more effective search query suited for full-text. Note that on some question (namely Abby question) this approach works very well. On the other hand semantically difficult question are not captured (Start Wars example that brings mostly Star Wars movies while user asks for movies similar to Star Wars).

In [246]:
import pandas as pd

for q in questions:
    # Use LLM to enhance the question for full-text search
    question_enhancement_prompt = """
    You are an assistant that transforms user questions into search queries suitable for full-text search.
    Your task is to extract key entities such as persons, places and other words specific enough to be suitable for full-text search from the user's question, while ignoring common stop words, filler words and generic words.
    Ignore words like 'what', 'why', 'the', 'a', 'please', and other similar words that do not contain actual information.
    Ignore generic words that do not add value to the search for specific item, such as 'movie', 'film', 'show', etc.
    Your response MUST contain only resulting words, separated by spaces. Do not add any other text.
    """
    question_enhanced = gpt_4o_mini_client.chat.completions.create(  
        model="gpt-4o-mini",
        messages=[
                {"role": "system", "content": question_enhancement_prompt},
                {"role": "user", "content": f"QUESTION: {q}"}
        ],
        max_tokens=200,  
        temperature=0.7,
    ).choices[0].message.content

    # Execute full-text search query in PostgreSQL
    search_query = """
    SELECT id, title, overview, combined_text,
           ts_rank(full_text_search, plainto_tsquery('english', %s)) as rank
    FROM movies
    ORDER BY rank DESC
    LIMIT 10;
    """
    df_results = execute_query(search_query, (question_enhanced,))
    
    response = llm_final_answer(q, build_context(df_results))
    print_output(df_results=df_results, question=q, response=response, question_enhanced=question_enhanced)

INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o-mini/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"
INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"

*************************************************
Top 10 matching movies for question: What movies are about Abby?
Enhanced question: Abby

,id,title,overview,combined_text,rank
0,40205,16 Wishes,"The story about Abby Jensen, a girl who's been...",TITLE: 16 Wishes OVERVIEW: The story about Abb...,0.082746
1,342737,20th Century Women,"In 1979 Santa Barbara, California, Dorothea Fi...",TITLE: 20th Century Women OVERVIEW: In 1979 Sa...,0.060793
2,13909,She Wore a Yellow Ribbon,After Custer and the 7th Cavalry are wiped out...,TITLE: She Wore a Yellow Ribbon OVERVIEW: Afte...,0.060793
3,51481,Mean Girls 2,The Plastics are back in the long awaited foll...,TITLE: Mean Girls 2 OVERVIEW: The Plastics are...,0.060793
4,43074,Ghostbusters,"Following a ghost invasion of Manhattan, paran...",TITLE: Ghostbusters OVERVIEW: Following a ghos...,0.060793
5,11082,The Seventh Sign,Abby is a pregnant woman with a curious new bo...,TITLE: The Seventh Sign OVERVIEW: Abby is a pr...,0.060793
6,78383,Nurse 3-D,"Abby Russell, a beautiful, dedicated nurse wit...","TITLE: Nurse 3-D OVERVIEW: Abby Russell, a bea...",0.060793
7,256274,"As Above, So Below",When a team of explorers ventures into the cat...,"TITLE: As Above, So Below OVERVIEW: When a tea...",0.000000
8,10216,Species II,"Having just returned from a mission to Mars, C...",TITLE: Species II OVERVIEW: Having just return...,0.000000
9,9900,Grandma's Boy,"Even though he's 35, Alex acts more like he's ...",TITLE: Grandma's Boy OVERVIEW: Even though he'...,0.000000

LLM response:

The following movies are about characters named Abby:

1. **ID: 40205 - "16 Wishes"**: Focuses on Abby Jensen, a girl whose magical birthday candles make her 16th birthday wishes come true, with unexpected consequences.

2. **ID: 51481 - "Mean Girls 2"**: Features Abby, a timid girl who becomes the target of high school queen bee drama, with help from a new friend.

3. **ID: 11082 - "The Seventh Sign"**: Centers on Abby, a pregnant woman whose life intertwines with apocalyptic events triggered by a mysterious boarder.

4. **ID: 78383 - "Nurse 3-D"**: Follows Abby Russell, a nurse with a dark side who punishes dishonest men.

INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o-mini/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"
INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"

*************************************************
Top 10 matching movies for question: I have seen all Star Wars movies and would like tips for something similar I can watch next.
Enhanced question: Star Wars tips similar watch

,id,title,overview,combined_text,rank
0,12180,Star Wars: The Clone Wars,"Set between Episode II and III, The Clone Wars...",TITLE: Star Wars: The Clone Wars OVERVIEW: Set...,0.341995
1,354287,War Machine,A rock star general bent on winning the “impos...,TITLE: War Machine OVERVIEW: A rock star gener...,0.163199
2,330459,Rogue One: A Star Wars Story,A rogue band of resistance fighters unite for ...,TITLE: Rogue One: A Star Wars Story OVERVIEW: ...,0.102888
3,1894,Star Wars: Episode II - Attack of the Clones,Following an assassination attempt on Senator ...,TITLE: Star Wars: Episode II - Attack of the C...,0.099103
4,181812,Star Wars: The Rise of Skywalker,The surviving Resistance faces the First Order...,TITLE: Star Wars: The Rise of Skywalker OVERVI...,0.099103
5,13532,Fanboys,"In 1999, Star Wars fanatics take a cross-count...","TITLE: Fanboys OVERVIEW: In 1999, Star Wars fa...",0.099103
6,278427,Family Guy Presents: It's a Trap!,With the Griffins stuck again at home during a...,TITLE: Family Guy Presents: It's a Trap! OVERV...,0.099103
7,1895,Star Wars: Episode III - Revenge of the Sith,The evil Darth Sidious enacts his final plan f...,TITLE: Star Wars: Episode III - Revenge of the...,0.099103
8,140607,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,TITLE: Star Wars: The Force Awakens OVERVIEW: ...,0.099103
9,1893,Star Wars: Episode I - The Phantom Menace,"Anakin Skywalker, a young slave strong with th...",TITLE: Star Wars: Episode I - The Phantom Mena...,0.099103

LLM response:

If you're looking for something similar to Star Wars, you might enjoy **ID: 330459 - *Rogue One: A Star Wars Story***. It offers a standalone yet deeply connected story to the Star Wars saga with compelling characters and high-stakes action.

For an animated take, try **ID: 12180 - *Star Wars: The Clone Wars***, which expands on the lore between Episodes II and III. It’s a great way to dive deeper into the Star Wars universe.

If you'd like a comedic Star Wars-related experience, check out **ID: 13532 - *Fanboys***, a fun road trip movie centered around Star Wars fandom.

INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o-mini/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"
INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"

*************************************************
Top 10 matching movies for question: What is the most common genre of the movies where one of key figures is called Mark?
Enhanced question: common genre key figures Mark

,id,title,overview,combined_text,rank
0,13498,Man of the House,Texas Ranger Roland Sharp is assigned to prote...,TITLE: Man of the House OVERVIEW: Texas Ranger...,9.910322e-02
1,13851,Batman: Gotham Knight,A collection of key events mark Bruce Wayne's ...,TITLE: Batman: Gotham Knight OVERVIEW: A colle...,9.850085e-02
2,12618,Random Hearts,After the death of their loved ones in a tragi...,TITLE: Random Hearts OVERVIEW: After the death...,1.546895e-03
3,11323,The Informant!,A rising star at agri-industry giant Archer Da...,TITLE: The Informant! OVERVIEW: A rising star ...,2.833577e-05
4,672647,The Map of Tiny Perfect Things,The film tells the story of quick-witted teen ...,TITLE: The Map of Tiny Perfect Things OVERVIEW...,7.469888e-06
5,256274,"As Above, So Below",When a team of explorers ventures into the cat...,"TITLE: As Above, So Below OVERVIEW: When a tea...",1.000000e-20
6,10216,Species II,"Having just returned from a mission to Mars, C...",TITLE: Species II OVERVIEW: Having just return...,1.000000e-20
7,9900,Grandma's Boy,"Even though he's 35, Alex acts more like he's ...",TITLE: Grandma's Boy OVERVIEW: Even though he'...,1.000000e-20
8,486131,Shaft,"JJ, aka John Shaft Jr., may be a cyber securit...","TITLE: Shaft OVERVIEW: JJ, aka John Shaft Jr.,...",1.000000e-20
9,12657,Soul Plane,Following a ridiculously awful flight that lea...,TITLE: Soul Plane OVERVIEW: Following a ridicu...,1.000000e-20

LLM response:

Based on the provided context, the most common genre of movies featuring a key figure named Mark appears to be *drama with a mix of comedy or fantastical elements*. Notable examples include:

- **ID: 11323 - "The Informant!"** (a dark comedy-drama about corporate whistleblowing).
- **ID: 672647 - "The Map of Tiny Perfect Things"** (a romantic drama with a fantastical time-loop twist).

### Semantic search
Here we are using quick and efficient DiskANN search index together with text-embedding-3-large model, but we keep it capped at 2000 dimensions and storing in tgvector column. Outputs that are very much search oriented (Abby question) are pretty bad, while other questions work better than with full-text search.

In [247]:
import pandas as pd

for q in questions:
    # Execute full-text search query in PostgreSQL
    search_query = """
    SELECT id, title, overview, combined_text, 
        (embedding <=> azure_openai.create_embeddings('text-embedding-3-large', %s, 2000, max_attempts => 5, retry_delay_ms => 500)::vector) AS similarity_score
    FROM movies
    ORDER BY similarity_score
    LIMIT 10;
    """
    df_results = execute_query(search_query, (q,))
    
    response = llm_final_answer(q, build_context(df_results))
    print_output(df_results=df_results, question=q, response=response)

INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"

*************************************************
Top 10 matching movies for question: What movies are about Abby?

,id,title,overview,combined_text,similarity_score
0,78383,Nurse 3-D,"Abby Russell, a beautiful, dedicated nurse wit...","TITLE: Nurse 3-D OVERVIEW: Abby Russell, a bea...",0.552365
1,2005,Sister Act,A Reno singer witnesses a mob murder and the c...,TITLE: Sister Act OVERVIEW: A Reno singer witn...,0.592951
2,362057,Martyrs,A woman and her childhood friend seek out reve...,TITLE: Martyrs OVERVIEW: A woman and her child...,0.598653
3,1957,Enough,Working-class waitress Slim thought she was en...,TITLE: Enough OVERVIEW: Working-class waitress...,0.614545
4,309245,Mistress America,"Tracy, a lonely college freshman in New York, ...","TITLE: Mistress America OVERVIEW: Tracy, a lon...",0.627233
5,11109,Vera Drake,Abortionist Vera Drake finds her beliefs and p...,TITLE: Vera Drake OVERVIEW: Abortionist Vera D...,0.627722
6,502416,Ma,Sue Ann is a loner who keeps to herself in her...,TITLE: Ma OVERVIEW: Sue Ann is a loner who kee...,0.627732
7,439079,The Nun,When a young nun at a cloistered abbey in Roma...,TITLE: The Nun OVERVIEW: When a young nun at a...,0.627868
8,14125,Captivity,"The sought-after images of top model, Jennifer...",TITLE: Captivity OVERVIEW: The sought-after im...,0.628036
9,14359,Doubt,"In 1964, a Catholic school nun questions a pri...","TITLE: Doubt OVERVIEW: In 1964, a Catholic sch...",0.628174

LLM response:

The movie "Nurse 3-D" (ID: 78383) is about Abby Russell, a dedicated nurse with a sinister side who secretly targets and punishes dishonest men.

INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"

*************************************************
Top 10 matching movies for question: I have seen all Star Wars movies and would like tips for something similar I can watch next.

,id,title,overview,combined_text,similarity_score
0,11,Star Wars,Princess Leia is captured and held hostage by ...,TITLE: Star Wars OVERVIEW: Princess Leia is ca...,0.574062
1,1891,The Empire Strikes Back,"The epic saga continues as Luke Skywalker, in ...",TITLE: The Empire Strikes Back OVERVIEW: The e...,0.587404
2,12180,Star Wars: The Clone Wars,"Set between Episode II and III, The Clone Wars...",TITLE: Star Wars: The Clone Wars OVERVIEW: Set...,0.596291
3,181808,Star Wars: The Last Jedi,Rey develops her newly discovered abilities wi...,TITLE: Star Wars: The Last Jedi OVERVIEW: Rey ...,0.603993
4,348350,Solo: A Star Wars Story,Through a series of daring escapades deep with...,TITLE: Solo: A Star Wars Story OVERVIEW: Throu...,0.619453
5,1892,Return of the Jedi,Luke Skywalker leads a mission to rescue his f...,TITLE: Return of the Jedi OVERVIEW: Luke Skywa...,0.635749
6,157336,Interstellar,The adventures of a group of explorers who mak...,TITLE: Interstellar OVERVIEW: The adventures o...,0.639388
7,330459,Rogue One: A Star Wars Story,A rogue band of resistance fighters unite for ...,TITLE: Rogue One: A Star Wars Story OVERVIEW: ...,0.645560
8,13475,Star Trek,The fate of the galaxy rests in the hands of b...,TITLE: Star Trek OVERVIEW: The fate of the gal...,0.650430
9,957,Spaceballs,When the nefarious Dark Helmet hatches a plan ...,TITLE: Spaceballs OVERVIEW: When the nefarious...,0.664021

LLM response:

If you’re looking for something similar to *Star Wars*, here are some great options:

1. **Star Trek (ID: 13475)**: This reboot of the iconic sci-fi series features space exploration, galactic conflicts, and a strong focus on teamwork, akin to the Star Wars saga.

2. **Interstellar (ID: 157336)**: A visually stunning and emotional space adventure that explores the vastness of space and humanity’s survival, offering a more grounded but epic sci-fi journey.

3. **Spaceballs (ID: 957)**: If you enjoyed the Star Wars universe and appreciate humor, this parody of Star Wars and other sci-fi classics is a hilarious, lighthearted watch.

Each of these films brings a unique twist to the space epic genre while capturing the adventurous spirit you loved in Star Wars.

INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 429 Too Many Requests"
INFO:openai._base_client:Retrying request to /chat/completions in 35.000000 seconds
INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"

*************************************************
Top 10 matching movies for question: What is the most common genre of the movies where one of key figures is called Mark?

,id,title,overview,combined_text,similarity_score
0,351044,Welcome to Marwen,When a devastating attack shatters Mark Hoganc...,TITLE: Welcome to Marwen OVERVIEW: When a deva...,0.623549
1,15097,Fear City: A Family-Style Comedy,A second-class horror movie has to be shown at...,TITLE: Fear City: A Family-Style Comedy OVERVI...,0.659830
2,87818,Movie 43,A series of interconnected short films follows...,TITLE: Movie 43 OVERVIEW: A series of intercon...,0.660000
3,271404,Beyond Skyline,Detective Mark Corley storms his way onto an a...,TITLE: Beyond Skyline OVERVIEW: Detective Mark...,0.662310
4,11167,Peeping Tom,Loner Mark Lewis works at a film studio during...,TITLE: Peeping Tom OVERVIEW: Loner Mark Lewis ...,0.663521
5,13342,Fast Times at Ridgemont High,Based on the real-life adventures chronicled b...,TITLE: Fast Times at Ridgemont High OVERVIEW: ...,0.664672
6,11323,The Informant!,A rising star at agri-industry giant Archer Da...,TITLE: The Informant! OVERVIEW: A rising star ...,0.670903
7,8224,8MM,"A small, seemingly innocuous plastic reel of f...","TITLE: 8MM OVERVIEW: A small, seemingly innocu...",0.672559
8,359412,Marauders,An untraceable group of elite bank robbers is ...,TITLE: Marauders OVERVIEW: An untraceable grou...,0.673404
9,371638,The Disaster Artist,An aspiring actor in Hollywood meets an enigma...,TITLE: The Disaster Artist OVERVIEW: An aspiri...,0.673422

LLM response:

Based on the context provided, the most common genre for movies featuring a key figure named Mark is **drama**, as seen in films such as "Welcome to Marwen" (ID: 351044), "The Informant!" (ID: 11323), and "Peeping Tom" (ID: 11167).

### Semantic search with query rewriting
Here is example os using smaller LLM (gpt-4o-mini) to rewrite user question. In our case we focus on making question more clear, fixing grammar errors and so on. There are other approaches such as HyDE (Hypothetical Document Embedding) where you can generate hypothetical document that would answer this question (LLM comes up with something) and use it for similarity search.

In [248]:
import pandas as pd

for q in questions:
    # Use LLM to enhance the question
    question_enhancement_prompt = """
    You are an assistant that enhances user questions to be clear, well formulated and specific, with no grammar errors.
    DO NOT ask clarifying questions, your task is just to enhance the question for further processing and vector search.
    """
    question_enhanced = gpt_4o_mini_client.chat.completions.create(  
        model="gpt-4o-mini",
        messages=[
                {"role": "system", "content": question_enhancement_prompt},
                {"role": "user", "content": f"QUESTION: {q}"}
        ],
        max_tokens=200,  
        temperature=0.7,
    ).choices[0].message.content

    # Execute full-text search query in PostgreSQL
    search_query = """
    SELECT id, title, overview, combined_text, 
        (embedding <=> azure_openai.create_embeddings('text-embedding-3-large', %s, 2000, max_attempts => 5, retry_delay_ms => 500)::vector) AS similarity_score
    FROM movies
    ORDER BY similarity_score
    LIMIT 10;
    """
    df_results = execute_query(search_query, (question_enhanced,))
    
    response = llm_final_answer(question_enhanced, build_context(df_results))
    print_output(df_results=df_results, question=q, response=response, question_enhanced=question_enhanced)

INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o-mini/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"
INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 429 Too Many Requests"
INFO:openai._base_client:Retrying request to /chat/completions in 1.000000 seconds
INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"

*************************************************
Top 10 matching movies for question: What movies are about Abby?
Enhanced question: What movies feature a character named Abby?

,id,title,overview,combined_text,similarity_score
0,78383,Nurse 3-D,"Abby Russell, a beautiful, dedicated nurse wit...","TITLE: Nurse 3-D OVERVIEW: Abby Russell, a bea...",0.568289
1,2005,Sister Act,A Reno singer witnesses a mob murder and the c...,TITLE: Sister Act OVERVIEW: A Reno singer witn...,0.627277
2,36968,Life-Size,"After her mom's death, Casey pulls away from e...",TITLE: Life-Size OVERVIEW: After her mom's dea...,0.631384
3,309245,Mistress America,"Tracy, a lonely college freshman in New York, ...","TITLE: Mistress America OVERVIEW: Tracy, a lon...",0.633458
4,396422,Annabelle: Creation,Several years after the tragic death of their ...,TITLE: Annabelle: Creation OVERVIEW: Several y...,0.637420
5,502416,Ma,Sue Ann is a loner who keeps to herself in her...,TITLE: Ma OVERVIEW: Sue Ann is a loner who kee...,0.642591
6,380225,Like Crazy,Beatrice is a blabbermouth and a so-called bil...,TITLE: Like Crazy OVERVIEW: Beatrice is a blab...,0.645053
7,5857,I Know Who Killed Me,An idyllic small town is rocked when Aubrey Fl...,TITLE: I Know Who Killed Me OVERVIEW: An idyll...,0.648182
8,10035,100 Girls,"This sexy, teen-comedy is about a freshman, Ma...","TITLE: 100 Girls OVERVIEW: This sexy, teen-com...",0.651255
9,329010,Emelie,"After their regular babysitter cancels, the Th...",TITLE: Emelie OVERVIEW: After their regular ba...,0.651532

LLM response:

The movie **"Nurse 3-D" (ID: 78383)** features a character named Abby, specifically Abby Russell, a nurse with a sinister secret life.

INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o-mini/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"
INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 429 Too Many Requests"
INFO:openai._base_client:Retrying request to /chat/completions in 1.000000 seconds
INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"

*************************************************
Top 10 matching movies for question: I have seen all Star Wars movies and would like tips for something similar I can watch next.
Enhanced question: I have watched all the Star Wars movies and would appreciate recommendations for similar films or series that I can watch next.

,id,title,overview,combined_text,similarity_score
0,11,Star Wars,Princess Leia is captured and held hostage by ...,TITLE: Star Wars OVERVIEW: Princess Leia is ca...,0.580096
1,1891,The Empire Strikes Back,"The epic saga continues as Luke Skywalker, in ...",TITLE: The Empire Strikes Back OVERVIEW: The e...,0.583031
2,12180,Star Wars: The Clone Wars,"Set between Episode II and III, The Clone Wars...",TITLE: Star Wars: The Clone Wars OVERVIEW: Set...,0.589593
3,181808,Star Wars: The Last Jedi,Rey develops her newly discovered abilities wi...,TITLE: Star Wars: The Last Jedi OVERVIEW: Rey ...,0.609470
4,348350,Solo: A Star Wars Story,Through a series of daring escapades deep with...,TITLE: Solo: A Star Wars Story OVERVIEW: Throu...,0.631446
5,1892,Return of the Jedi,Luke Skywalker leads a mission to rescue his f...,TITLE: Return of the Jedi OVERVIEW: Luke Skywa...,0.640663
6,157336,Interstellar,The adventures of a group of explorers who mak...,TITLE: Interstellar OVERVIEW: The adventures o...,0.646939
7,13475,Star Trek,The fate of the galaxy rests in the hands of b...,TITLE: Star Trek OVERVIEW: The fate of the gal...,0.658892
8,330459,Rogue One: A Star Wars Story,A rogue band of resistance fighters unite for ...,TITLE: Rogue One: A Star Wars Story OVERVIEW: ...,0.659719
9,11864,Enemy Mine,A soldier from Earth crashlands on an alien wo...,TITLE: Enemy Mine OVERVIEW: A soldier from Ear...,0.661373

LLM response:

If you enjoyed the "Star Wars" films, here are some recommended options based on the provided context:

1. **Star Trek (ID: 13475)** - A reboot of the classic space-faring adventure, featuring rival characters James Kirk and Spock teaming up to save the galaxy. Its mix of action, exploration, and character dynamics echoes the themes of "Star Wars."

2. **Rogue One: A Star Wars Story (ID: 330459)** - A standalone "Star Wars" prequel focusing on a daring mission to steal the Death Star plans, offering a grittier perspective within the same universe.

3. **Interstellar (ID: 157336)** - While more grounded in science fiction, this film explores space travel, survival, and human resilience, appealing to "Star Wars" fans who enjoy epic space adventures.

4. **Enemy Mine (ID: 11864)** - A unique sci-fi tale of survival and unexpected friendship between a human and an

INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o-mini/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"
INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"

*************************************************
Top 10 matching movies for question: What is the most common genre of the movies where one of key figures is called Mark?
Enhanced question: What is the most common movie genre featuring a key character named Mark?

,id,title,overview,combined_text,similarity_score
0,351044,Welcome to Marwen,When a devastating attack shatters Mark Hoganc...,TITLE: Welcome to Marwen OVERVIEW: When a deva...,0.610964
1,11167,Peeping Tom,Loner Mark Lewis works at a film studio during...,TITLE: Peeping Tom OVERVIEW: Loner Mark Lewis ...,0.635179
2,13342,Fast Times at Ridgemont High,Based on the real-life adventures chronicled b...,TITLE: Fast Times at Ridgemont High OVERVIEW: ...,0.637111
3,87818,Movie 43,A series of interconnected short films follows...,TITLE: Movie 43 OVERVIEW: A series of intercon...,0.644665
4,203,Mean Streets,"A small-time hood must choose from among love,...",TITLE: Mean Streets OVERVIEW: A small-time hoo...,0.646613
5,371638,The Disaster Artist,An aspiring actor in Hollywood meets an enigma...,TITLE: The Disaster Artist OVERVIEW: An aspiri...,0.651356
6,3432,Mr. Brooks,A psychological thriller about a man who is so...,TITLE: Mr. Brooks OVERVIEW: A psychological th...,0.651672
7,445571,Game Night,Max and Annie's weekly game night gets kicked ...,TITLE: Game Night OVERVIEW: Max and Annie's we...,0.654844
8,84306,Liberal Arts,"Newly single, 35, and uninspired by his job, J...","TITLE: Liberal Arts OVERVIEW: Newly single, 35...",0.654937
9,241855,Spring,A young man in a personal tailspin flees the U...,TITLE: Spring OVERVIEW: A young man in a perso...,0.655900

LLM response:

Based on the provided context, the most common genre featuring a key character named Mark is **drama**, as seen in movies like *Welcome to Marwen* (ID: 351044), *Peeping Tom* (ID: 11167), and *Fast Times at Ridgemont High* (ID: 13342). These films explore emotional, personal, or psychological themes central to their narratives.

### Hybrid search
In this example we are using both methods - full-text and semantic search and select matches from both for LLM processing. We just add deduplication to fill candidates from both methods all the way to 10 entries that we send to final LLM answering.

In [249]:
import pandas as pd

for q in questions:
    # Use LLM to enhance the question for full-text search
    question_enhancement_prompt = """
    You are an assistant that transforms user questions into search queries suitable for full-text search.
    Your task is to extract key entities such as persons, places and other words specific enough to be suitable for full-text search from the user's question, while ignoring common stop words, filler words and generic words.
    Ignore words like 'what', 'why', 'the', 'a', 'please', and other similar words that do not contain actual information.
    Ignore generic words that do not add value to the search for specific item, such as 'movie', 'film', 'show', etc.
    Your response MUST contain only resulting words, separated by spaces. Do not add any other text.
    """
    question_fulltext_enhanced = gpt_4o_mini_client.chat.completions.create(  
        model="gpt-4o-mini",
        messages=[
                {"role": "system", "content": question_enhancement_prompt},
                {"role": "user", "content": f"QUESTION: {q}"}
        ],
        max_tokens=200,  
        temperature=0.7,
    ).choices[0].message.content

    # Use LLM to enhance the question
    question_enhancement_prompt = """
    You are an assistant that enhances user questions to be clear, well formulated and specific, with no grammar errors.
    DO NOT ask clarifying questions, your task is just to enhance the question for further processing and vector search.
    """
    question_semantic_enhanced = gpt_4o_mini_client.chat.completions.create(  
        model="gpt-4o-mini",
        messages=[
                {"role": "system", "content": question_enhancement_prompt},
                {"role": "user", "content": f"QUESTION: {q}"}
        ],
        max_tokens=200,  
        temperature=0.7,
    ).choices[0].message.content

    # Execute full-text search query in PostgreSQL
    search_query = """
    WITH fulltext AS (
        SELECT 
            id, 
            title, 
            overview, 
            combined_text, 
            ts_rank(full_text_search, plainto_tsquery('english', %s)) AS score,
            'fulltext' AS method,
            ROW_NUMBER() OVER (ORDER BY ts_rank(full_text_search, plainto_tsquery('english', %s)) DESC) AS index
        FROM movies
        ORDER BY score DESC
        LIMIT 15
    ),
    semantic AS (
        SELECT 
            id, 
            title, 
            overview, 
            combined_text, 
            (embedding <=> azure_openai.create_embeddings('text-embedding-3-large', %s, 2000, max_attempts => 5, retry_delay_ms => 500)::vector) AS score,
            'semantic' AS method,
            ROW_NUMBER() OVER (ORDER BY (embedding <=> azure_openai.create_embeddings('text-embedding-3-large', %s, 2000, max_attempts => 5, retry_delay_ms => 500)::vector)) AS index
        FROM movies
        ORDER BY score 
        LIMIT 15
    ),
    combined_results AS (
        SELECT * FROM fulltext
        UNION ALL
        SELECT * FROM semantic
    ),
    deduped_results AS (
        SELECT DISTINCT ON (id) 
            id, 
            title, 
            overview, 
            combined_text, 
            score, 
            method, 
            index
        FROM combined_results
        )
    SELECT * FROM deduped_results
    ORDER BY index
    LIMIT 10;
    """

    df_results = execute_query(search_query, (question_fulltext_enhanced,question_fulltext_enhanced,question_semantic_enhanced,question_semantic_enhanced))
    
    response = llm_final_answer(question_semantic_enhanced, build_context(df_results))
    print_output(df_results=df_results, question=q, response=response, question_enhanced=question_semantic_enhanced)

INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o-mini/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"
INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o-mini/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"
INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"

*************************************************
Top 10 matching movies for question: What movies are about Abby?
Enhanced question: What movies feature a character named Abby or focus on a storyline involving a character named Abby?

,id,title,overview,combined_text,score,method,index
0,40205,16 Wishes,"The story about Abby Jensen, a girl who's been...",TITLE: 16 Wishes OVERVIEW: The story about Abb...,0.082746,fulltext,1
1,78383,Nurse 3-D,"Abby Russell, a beautiful, dedicated nurse wit...","TITLE: Nurse 3-D OVERVIEW: Abby Russell, a bea...",0.601059,semantic,1
2,51481,Mean Girls 2,The Plastics are back in the long awaited foll...,TITLE: Mean Girls 2 OVERVIEW: The Plastics are...,0.060793,fulltext,2
3,2005,Sister Act,A Reno singer witnesses a mob murder and the c...,TITLE: Sister Act OVERVIEW: A Reno singer witn...,0.630563,semantic,2
4,396422,Annabelle: Creation,Several years after the tragic death of their ...,TITLE: Annabelle: Creation OVERVIEW: Several y...,0.633797,semantic,3
5,309245,Mistress America,"Tracy, a lonely college freshman in New York, ...","TITLE: Mistress America OVERVIEW: Tracy, a lon...",0.637282,semantic,4
6,342737,20th Century Women,"In 1979 Santa Barbara, California, Dorothea Fi...",TITLE: 20th Century Women OVERVIEW: In 1979 Sa...,0.060793,fulltext,4
7,13909,She Wore a Yellow Ribbon,After Custer and the 7th Cavalry are wiped out...,TITLE: She Wore a Yellow Ribbon OVERVIEW: Afte...,0.060793,fulltext,5
8,471506,Greta,A young woman returns an elderly widow’s lost ...,TITLE: Greta OVERVIEW: A young woman returns a...,0.641504,semantic,5
9,11529,Sweet Home Alabama,"New York fashion designer, Melanie Carmichael ...",TITLE: Sweet Home Alabama OVERVIEW: New York f...,0.641759,semantic,6

LLM response:

The following movies feature a character named Abby or focus on a storyline involving a character named Abby:

1. **ID: 40205 - *16 Wishes***: The story revolves around Abby Jensen, a girl eagerly awaiting her 16th birthday whose magical wishes bring unexpected consequences.

2. **ID: 78383 - *Nurse 3-D***: Abby Russell is a nurse with a sinister side who leads a double life targeting dishonest men.

3. **ID: 51481 - *Mean Girls 2***: The film includes a character named Abby, a timid girl who becomes the target of the school's Queen Bee, prompting another character to stand up for her.

4. **ID: 13909 - *She Wore a Yellow Ribbon***: Abby Allshard, wife of the Fort's commanding officer, plays a role in the story as she's evacuated for safety during a tense period.

INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o-mini/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"
INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o-mini/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"
INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"

*************************************************
Top 10 matching movies for question: I have seen all Star Wars movies and would like tips for something similar I can watch next.
Enhanced question: I have watched all the Star Wars movies and would like recommendations for similar films or series to watch next.

,id,title,overview,combined_text,score,method,index
0,1891,The Empire Strikes Back,"The epic saga continues as Luke Skywalker, in ...",TITLE: The Empire Strikes Back OVERVIEW: The e...,0.569078,semantic,1
1,354287,War Machine,A rock star general bent on winning the “impos...,TITLE: War Machine OVERVIEW: A rock star gener...,0.163199,fulltext,2
2,12180,Star Wars: The Clone Wars,"Set between Episode II and III, The Clone Wars...",TITLE: Star Wars: The Clone Wars OVERVIEW: Set...,0.584679,semantic,3
3,181808,Star Wars: The Last Jedi,Rey develops her newly discovered abilities wi...,TITLE: Star Wars: The Last Jedi OVERVIEW: Rey ...,0.594772,semantic,4
4,1894,Star Wars: Episode II - Attack of the Clones,Following an assassination attempt on Senator ...,TITLE: Star Wars: Episode II - Attack of the C...,0.099103,fulltext,4
5,348350,Solo: A Star Wars Story,Through a series of daring escapades deep with...,TITLE: Solo: A Star Wars Story OVERVIEW: Throu...,0.623719,semantic,5
6,181812,Star Wars: The Rise of Skywalker,The surviving Resistance faces the First Order...,TITLE: Star Wars: The Rise of Skywalker OVERVI...,0.099103,fulltext,5
7,1892,Return of the Jedi,Luke Skywalker leads a mission to rescue his f...,TITLE: Return of the Jedi OVERVIEW: Luke Skywa...,0.626468,semantic,6
8,74849,The Star Wars Holiday Special,Luke Skywalker and Han Solo battle evil Imperi...,TITLE: The Star Wars Holiday Special OVERVIEW:...,0.099103,fulltext,7
9,157336,Interstellar,The adventures of a group of explorers who mak...,TITLE: Interstellar OVERVIEW: The adventures o...,0.647111,semantic,7

LLM response:

If you’ve enjoyed the *Star Wars* saga, you might consider watching **Star Wars: The Clone Wars (ID: 12180)**, which explores more of the galaxy’s lore and the events between Episodes II and III. For a space-themed adventure with emotional depth and awe-inspiring visuals, **Interstellar (ID: 157336)** is also a strong recommendation. Both offer grand storytelling with compelling characters and high-stakes drama.

INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o-mini/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"
INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o-mini/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"
INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"

*************************************************
Top 10 matching movies for question: What is the most common genre of the movies where one of key figures is called Mark?
Enhanced question: What is the most common genre of movies featuring a key character named Mark?

,id,title,overview,combined_text,score,method,index
0,13498,Man of the House,Texas Ranger Roland Sharp is assigned to prote...,TITLE: Man of the House OVERVIEW: Texas Ranger...,0.099103,fulltext,1
1,351044,Welcome to Marwen,When a devastating attack shatters Mark Hoganc...,TITLE: Welcome to Marwen OVERVIEW: When a deva...,0.617452,semantic,1
2,271404,Beyond Skyline,Detective Mark Corley storms his way onto an a...,TITLE: Beyond Skyline OVERVIEW: Detective Mark...,0.648591,semantic,2
3,13851,Batman: Gotham Knight,A collection of key events mark Bruce Wayne's ...,TITLE: Batman: Gotham Knight OVERVIEW: A colle...,0.098501,fulltext,2
4,12618,Random Hearts,After the death of their loved ones in a tragi...,TITLE: Random Hearts OVERVIEW: After the death...,0.001547,fulltext,3
5,8645,The Happening,When a deadly airborne virus threatens to wipe...,TITLE: The Happening OVERVIEW: When a deadly a...,0.650006,semantic,3
6,365942,The Space Between Us,A young man raised by scientists on Mars retur...,TITLE: The Space Between Us OVERVIEW: A young ...,0.650359,semantic,4
7,11323,The Informant!,A rising star at agri-industry giant Archer Da...,TITLE: The Informant! OVERVIEW: A rising star ...,0.000028,fulltext,4
8,11167,Peeping Tom,Loner Mark Lewis works at a film studio during...,TITLE: Peeping Tom OVERVIEW: Loner Mark Lewis ...,0.650499,semantic,5
9,672647,The Map of Tiny Perfect Things,The film tells the story of quick-witted teen ...,TITLE: The Map of Tiny Perfect Things OVERVIEW...,0.000007,fulltext,5

LLM response:

Based on the provided context, the movies featuring a key character named Mark span various genres, including drama, thriller, sci-fi, fantasy, and romance. However, the **thriller genre** appears to be the most common, as seen in movies like "Beyond Skyline" (ID: 271404), "The Happening" (ID: 8645), and "Peeping Tom" (ID: 11167).

### Hybrid search with reranking
In this example we use full-text and semantic methods to select more candidates and then use another language model based on BERT (small, can run locally, encoder-based) for reranking the retrieved results. This ensures that the most relevant candidates are presented to the user, improving the overall quality of the search results. This approach gets the best results so far.

In [250]:
import pandas as pd
from flashrank import Ranker, RerankRequest
ranker = Ranker(model_name="ms-marco-MultiBERT-L-12", cache_dir="/opt")  # Interesting options are: ms-marco-MiniLM-L-6-v2, rank-T5-flan, ce-esci-MiniLM-L12-v2, ms-marco-MultiBERT-L-12, rank_zephyr_7b_v1_full

for q in questions:
    # Use LLM to enhance the question for full-text search
    question_enhancement_prompt = """
    You are an assistant that transforms user questions into search queries suitable for full-text search.
    Your task is to extract key entities such as persons, places and other words specific enough to be suitable for full-text search from the user's question, while ignoring common stop words, filler words and generic words.
    Ignore words like 'what', 'why', 'the', 'a', 'please', and other similar words that do not contain actual information.
    Ignore generic words that do not add value to the search for specific item, such as 'movie', 'film', 'show', etc.
    Your response MUST contain only resulting words, separated by spaces. Do not add any other text.
    """
    question_fulltext_enhanced = gpt_4o_mini_client.chat.completions.create(  
        model="gpt-4o-mini",
        messages=[
                {"role": "system", "content": question_enhancement_prompt},
                {"role": "user", "content": f"QUESTION: {q}"}
        ],
        max_tokens=200,  
        temperature=0.7,
    ).choices[0].message.content

    # Use LLM to enhance the question
    question_enhancement_prompt = """
    You are an assistant that enhances user questions to be clear, well formulated and specific, with no grammar errors.
    DO NOT ask clarifying questions, your task is just to enhance the question for further processing and vector search.
    """
    question_semantic_enhanced = gpt_4o_mini_client.chat.completions.create(  
        model="gpt-4o-mini",
        messages=[
                {"role": "system", "content": question_enhancement_prompt},
                {"role": "user", "content": f"QUESTION: {q}"}
        ],
        max_tokens=200,  
        temperature=0.7,
    ).choices[0].message.content

    # Execute full-text search query in PostgreSQL
    search_query = """
    WITH fulltext AS (
        SELECT 
            id, 
            title, 
            overview, 
            combined_text, 
            ts_rank(full_text_search, plainto_tsquery('english', %s)) AS score,
            'fulltext' AS method,
            ROW_NUMBER() OVER (ORDER BY ts_rank(full_text_search, plainto_tsquery('english', %s)) DESC) AS index
        FROM movies
        ORDER BY score DESC
        LIMIT 15
    ),
    semantic AS (
        SELECT 
            id, 
            title, 
            overview, 
            combined_text, 
            (embedding <=> azure_openai.create_embeddings('text-embedding-3-large', %s, 2000, max_attempts => 5, retry_delay_ms => 500)::vector) AS score,
            'semantic' AS method,
            ROW_NUMBER() OVER (ORDER BY (embedding <=> azure_openai.create_embeddings('text-embedding-3-large', %s, 2000, max_attempts => 5, retry_delay_ms => 500)::vector)) AS index
        FROM movies
        ORDER BY score 
        LIMIT 15
    ),
    combined_results AS (
        SELECT * FROM fulltext
        UNION ALL
        SELECT * FROM semantic
    ),
    deduped_results AS (
        SELECT DISTINCT ON (id) 
            id, 
            title, 
            overview, 
            combined_text, 
            score, 
            method, 
            index
        FROM combined_results
        )
    SELECT * FROM deduped_results
    ORDER BY index
    """

    df_results = execute_query(search_query, (question_fulltext_enhanced,question_fulltext_enhanced,question_semantic_enhanced,question_semantic_enhanced))

    # ReRanking
    passages = []
    for _, row in df_results.iterrows():
        passages.append({
            "id": row["id"],
            "text": row["combined_text"]
        })
    rerank_request = RerankRequest(query=q, passages=passages)
    rerank_output = ranker.rerank(rerank_request)
    rank_mapping = {result["id"]: rank for rank, result in enumerate(rerank_output, start=1)}
    df_results["ranker_index"] = df_results["id"].map(rank_mapping)
    df_results = df_results.sort_values("ranker_index")[:10]

    response = llm_final_answer(question_semantic_enhanced, build_context(df_results))
    print_output(df_results=df_results, question=q, response=response, question_enhanced=question_semantic_enhanced)

INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o-mini/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"
INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o-mini/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"
INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"

*************************************************
Top 10 matching movies for question: What movies are about Abby?
Enhanced question: What movies feature a character named Abby?

,id,title,overview,combined_text,score,method,index,ranker_index
1,40205,16 Wishes,"The story about Abby Jensen, a girl who's been...",TITLE: 16 Wishes OVERVIEW: The story about Abb...,0.082746,fulltext,1,1
27,440021,Happy Death Day,"Caught in a bizarre and terrifying time warp, ...",TITLE: Happy Death Day OVERVIEW: Caught in a b...,0.000000,fulltext,15,2
2,51481,Mean Girls 2,The Plastics are back in the long awaited foll...,TITLE: Mean Girls 2 OVERVIEW: The Plastics are...,0.060793,fulltext,2,3
16,10035,100 Girls,"This sexy, teen-comedy is about a freshman, Ma...","TITLE: 100 Girls OVERVIEW: This sexy, teen-com...",0.651255,semantic,9,4
0,78383,Nurse 3-D,"Abby Russell, a beautiful, dedicated nurse wit...","TITLE: Nurse 3-D OVERVIEW: Abby Russell, a bea...",0.568289,semantic,1,5
9,502416,Ma,Sue Ann is a loner who keeps to herself in her...,TITLE: Ma OVERVIEW: Sue Ann is a loner who kee...,0.642591,semantic,6,6
10,11082,The Seventh Sign,Abby is a pregnant woman with a curious new bo...,TITLE: The Seventh Sign OVERVIEW: Abby is a pr...,0.060793,fulltext,6,7
5,309245,Mistress America,"Tracy, a lonely college freshman in New York, ...","TITLE: Mistress America OVERVIEW: Tracy, a lon...",0.633458,semantic,4,8
7,13909,She Wore a Yellow Ribbon,After Custer and the 7th Cavalry are wiped out...,TITLE: She Wore a Yellow Ribbon OVERVIEW: Afte...,0.060793,fulltext,5,9
11,43074,Ghostbusters,"Following a ghost invasion of Manhattan, paran...",TITLE: Ghostbusters OVERVIEW: Following a ghos...,0.060793,fulltext,7,10

LLM response:

The following movies feature a character named Abby:

1. **16 Wishes (ID: 40205)** - Abby Jensen is the protagonist, a girl excited about her 16th birthday.
2. **Mean Girls 2 (ID: 51481)** - Abby is a timid girl defended by Jo against the Plastics.
3. **Nurse 3-D (ID: 78383)** - Abby Russell is a nurse with a sinister secret life.
4. **The Seventh Sign (ID: 11082)** - Abby is a pregnant woman entangled in apocalyptic events.
5. **She Wore a Yellow Ribbon (ID: 13909)** - Abby Allshard is the wife of the Fort's commanding officer.
6. **Ghostbusters (ID: 43074)** - Abby Yates is one of the paranormal enthusiasts fighting ghosts.

INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o-mini/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"
INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o-mini/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"
INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 429 Too Many Requests"
INFO:openai._base_client:Retrying request to /chat/completions in 31.000000 seconds
INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"

*************************************************
Top 10 matching movies for question: I have seen all Star Wars movies and would like tips for something similar I can watch next.
Enhanced question: I have watched all the Star Wars movies and would like recommendations for similar films or series that I can watch next.

,id,title,overview,combined_text,score,method,index,ranker_index
0,12180,Star Wars: The Clone Wars,"Set between Episode II and III, The Clone Wars...",TITLE: Star Wars: The Clone Wars OVERVIEW: Set...,0.341995,fulltext,1,1
13,11,Star Wars,Princess Leia is captured and held hostage by ...,TITLE: Star Wars OVERVIEW: Princess Leia is ca...,0.099103,fulltext,10,2
21,1893,Star Wars: Episode I - The Phantom Menace,"Anakin Skywalker, a young slave strong with th...",TITLE: Star Wars: Episode I - The Phantom Mena...,0.099103,fulltext,14,3
18,957,Spaceballs,When the nefarious Dark Helmet hatches a plan ...,TITLE: Spaceballs OVERVIEW: When the nefarious...,0.686228,semantic,12,4
19,679,Aliens,When Ripley's lifepod is found by a salvage cr...,TITLE: Aliens OVERVIEW: When Ripley's lifepod ...,0.689325,semantic,13,5
7,74849,The Star Wars Holiday Special,Luke Skywalker and Han Solo battle evil Imperi...,TITLE: The Star Wars Holiday Special OVERVIEW:...,0.099103,fulltext,7,6
12,181812,Star Wars: The Rise of Skywalker,The surviving Resistance faces the First Order...,TITLE: Star Wars: The Rise of Skywalker OVERVI...,0.099103,fulltext,9,7
1,1891,The Empire Strikes Back,"The epic saga continues as Luke Skywalker, in ...",TITLE: The Empire Strikes Back OVERVIEW: The e...,0.577313,semantic,1,8
11,330459,Rogue One: A Star Wars Story,A rogue band of resistance fighters unite for ...,TITLE: Rogue One: A Star Wars Story OVERVIEW: ...,0.659828,semantic,9,9
22,114478,Starship Troopers: Invasion,A distant Federation outpost Fort Casey comes ...,TITLE: Starship Troopers: Invasion OVERVIEW: A...,0.692200,semantic,14,10

LLM response:

If you're looking for Star Wars-like films or series, consider these recommendations from the context provided:

1. **Star Wars: The Clone Wars** (ID: 12180) - A computer-animated film that expands on the Star Wars universe, focusing on Anakin and Obi-Wan during the Clone Wars. Perfect for more galactic adventures.

2. **Spaceballs** (ID: 957) - A hilarious parody of Star Wars, featuring a comedic take on space battles, epic powers (like "The Schwartz"), and intergalactic hijinks.

3. **Starship Troopers: Invasion** (ID: 114478) - A sci-fi action-packed story about soldiers battling alien threats, offering a militaristic tone similar to Star Wars' Rebel vs. Empire dynamic.

4. **Aliens** (ID: 679) - For a darker and intense sci-fi experience, this film explores space exploration, alien threats, and survival under dire circumstances.

These

INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o-mini/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"
INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o-mini/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"
INFO:httpx:HTTP Request: POST https://graphrag-psbv.openai.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-05-01-preview "HTTP/1.1 200 OK"

*************************************************
Top 10 matching movies for question: What is the most common genre of the movies where one of key figures is called Mark?
Enhanced question: What is the most common genre of movies featuring a character named Mark?

,id,title,overview,combined_text,score,method,index,ranker_index
26,11384,The Hard Way,Seeking to raise his credibility as an actor a...,TITLE: The Hard Way OVERVIEW: Seeking to raise...,0.672112,semantic,14,1
8,672647,The Map of Tiny Perfect Things,The film tells the story of quick-witted teen ...,TITLE: The Map of Tiny Perfect Things OVERVIEW...,0.000007,fulltext,5,2
6,13342,Fast Times at Ridgemont High,Based on the real-life adventures chronicled b...,TITLE: Fast Times at Ridgemont High OVERVIEW: ...,0.650612,semantic,4,3
1,351044,Welcome to Marwen,When a devastating attack shatters Mark Hoganc...,TITLE: Welcome to Marwen OVERVIEW: When a deva...,0.622966,semantic,1,4
2,13851,Batman: Gotham Knight,A collection of key events mark Bruce Wayne's ...,TITLE: Batman: Gotham Knight OVERVIEW: A colle...,0.098501,fulltext,2,5
29,84306,Liberal Arts,"Newly single, 35, and uninspired by his job, J...","TITLE: Liberal Arts OVERVIEW: Newly single, 35...",0.672137,semantic,15,6
0,13498,Man of the House,Texas Ranger Roland Sharp is assigned to prote...,TITLE: Man of the House OVERVIEW: Texas Ranger...,0.099103,fulltext,1,7
12,10159,The Rundown,"When Travis, the mouthy son of a criminal, dis...","TITLE: The Rundown OVERVIEW: When Travis, the ...",0.659434,semantic,7,8
9,15097,Fear City: A Family-Style Comedy,A second-class horror movie has to be shown at...,TITLE: Fear City: A Family-Style Comedy OVERVI...,0.651501,semantic,5,9
25,261392,American Ultra,Mike is an unmotivated stoner whose small-town...,TITLE: American Ultra OVERVIEW: Mike is an unm...,0.670719,semantic,13,10

LLM response:

Based on the provided context, the most common genre among movies featuring a character named Mark appears to be **drama with a mix of fantasy or personal struggle**. Examples include:

- ID: 672647 **The Map of Tiny Perfect Things** (fantasy drama/love story)
- ID: 351044 **Welcome to Marwen** (drama with elements of fantasy and healing)
- ID: 13342 **Fast Times at Ridgemont High** (teen drama/coming-of-age)

### Cleanup

In [251]:
# command = "DROP TABLE IF EXISTS movies;"
# try:
#     with conn.cursor() as cursor:
#         cursor.execute(command)
#         conn.commit()
#     print("Cleanup completed: Table 'movies' has been dropped.")
# except psycopg2.Error as e:
#     print(f"Error: {e}")
#     conn.rollback()