# RAG demo level 2
In more advanced demonstration we will add hierarchical and graph approaches by extracting metadata, finding and storing relationships between documents and adding summarizations for aggregate questions.

## Step 2 - Storing graph in PostgreSQL using AGE extension

In [3]:
import subprocess
import os
import json

original_dir = os.getcwd()
try:
    # Jump into the terraform directory
    os.chdir('terraform')

    # Get the database connection string
    PGHOST = subprocess.run(['terraform', 'output', '-raw', 'PGHOST'], stdout=subprocess.PIPE).stdout.decode('utf-8')
    PGDATABASE = subprocess.run(['terraform', 'output', '-raw', 'PGDATABASE'], stdout=subprocess.PIPE).stdout.decode('utf-8')
    PGUSER = subprocess.run(['terraform', 'output', '-raw', 'PGUSER'], stdout=subprocess.PIPE).stdout.decode('utf-8')
    PGPASSWORD = subprocess.run(['terraform', 'output', '-raw', 'PGPASSWORD'], stdout=subprocess.PIPE).stdout.decode('utf-8')
    db_uri = f"postgresql://{PGUSER}:{PGPASSWORD}@{PGHOST}/{PGDATABASE}?sslmode=require"

    # Get the embedding model endpoint and key
    model_configurations = subprocess.run(['terraform', 'output', '-raw', 'model_configurations'], stdout=subprocess.PIPE).stdout.decode('utf-8')
    model_config = json.loads(model_configurations)
    embedding_model = model_config["models"]["text-embedding-3-large"]
    EMBEDDINGS_ENDPOINT = embedding_model["endpoint"]
    EMBEDDINGS_KEY = embedding_model["key"]
    gpt_4o_mini_model = model_config["models"]["gpt-4o-mini"]
    GPT_4O_MINI_ENDPOINT = gpt_4o_mini_model["endpoint"]
    GPT_4O_MINI_KEY = gpt_4o_mini_model["key"]
    gpt_4o_model = model_config["models"]["gpt-4o"]
    GPT_4O_ENDPOINT = gpt_4o_model["endpoint"]
    GPT_4O_KEY = gpt_4o_model["key"]

    print(f"Using {db_uri} as the database connection string")
    print(f"Using {EMBEDDINGS_ENDPOINT} as the embedding model endpoint")
    print(f"Using {GPT_4O_MINI_ENDPOINT} as the gpt-4o-mini model endpoint")
    print(f"Using {GPT_4O_ENDPOINT} as the gpt-4o model endpoint")

finally:
    os.chdir(original_dir)

Using postgresql://psqladmin:)ycxlsxlLRKks*g#@psql-graphrag-psbv.postgres.database.azure.com/demo?sslmode=require as the database connection string
Using https://graphrag-psbv.openai.azure.com/ as the embedding model endpoint
Using https://graphrag-psbv.openai.azure.com/ as the gpt-4o-mini model endpoint
Using https://graphrag-psbv.openai.azure.com/ as the gpt-4o model endpoint

Create clients for PostgreSQL and OpenAI models

In [45]:
import psycopg2
from psycopg2 import sql
from openai import AzureOpenAI 
import pandas as pd
import age

conn = psycopg2.connect(db_uri)

gpt_4o_client = AzureOpenAI(  
    azure_endpoint=GPT_4O_ENDPOINT,  
    api_key=GPT_4O_KEY,  
    api_version="2024-05-01-preview",
)

gpt_4o_mini_client = AzureOpenAI(
    azure_endpoint=GPT_4O_MINI_ENDPOINT,  
    api_key=GPT_4O_MINI_KEY,  
    api_version="2024-05-01-preview",
)

### Install and configure extensions

List extensions

In [17]:
command = """
SELECT * FROM pg_extension;
"""

with conn.cursor() as cursor:
    cursor.execute(command)
    result = cursor.fetchall()
    columns = [desc[0] for desc in cursor.description]

pd.DataFrame(result, columns=columns)

,oid,extname,extowner,extnamespace,extrelocatable,extversion,extconfig,extcondition
0,14258,plpgsql,10,11,False,1.0,None,None
1,24762,vector,10,2200,True,0.7.0,None,None
2,25082,pg_diskann,10,2200,False,0.4.0,None,None
3,25102,azure_ai,10,11,False,1.1.0,None,None
4,25184,age,10,25183,False,1.5.0,"[25185, 25197]","[, ]"

In [14]:
command = """
CREATE EXTENSION IF NOT EXISTS vector;
CREATE EXTENSION IF NOT EXISTS pg_diskann CASCADE;
CREATE EXTENSION IF NOT EXISTS azure_ai;
CREATE EXTENSION IF NOT EXISTS age CASCADE;
"""

try:
    with conn.cursor() as cursor:
        cursor.execute(command)
        conn.commit()
except psycopg2.Error as e:
    print(f"Error: {e}")
    conn.rollback()

In [7]:
command = f"""
select azure_ai.set_setting('azure_openai.endpoint','{EMBEDDINGS_ENDPOINT}'); 
select azure_ai.set_setting('azure_openai.subscription_key', '{EMBEDDINGS_KEY}'); 
"""

try:
    with conn.cursor() as cursor:
        cursor.execute(command)
        conn.commit()
except psycopg2.Error as e:
    print(f"Error: {e}")
    conn.rollback()

### Import data

In [46]:
# Enable AGE for this connection

command = """
SET search_path = ag_catalog, "$user", public;
"""

try:
    with conn.cursor() as cursor:
        cursor.execute(command)
        conn.commit()
except psycopg2.Error as e:
    print(f"Error: {e}")
    conn.rollback()

Load from file

In [6]:
movies_df = pd.read_json("data/movies_graph.json", orient="records")
print(f"Loaded {len(movies_df)} movies")

Loaded 8551 movies

Import movies

In [ ]:
# Create movies graph

command = """
SELECT create_graph('movies_graph');
"""

try:
    with conn.cursor() as cursor:
        cursor.execute(command)
        conn.commit()
except psycopg2.Error as e:
    print(f"Error: {e}")
    conn.rollback()

In [8]:
for idx, row in movies_df.iterrows():
    movie_id = str(row['id'])
    movie_title = str(row['title']).replace("'", "\\'") if row['title'] is not None else ""
    movie_overview = str(row['overview']).replace("'", "\\'") if row['overview'] is not None else ""
    movie_combined_text = f"TITLE: {movie_title} OVERVIEW: {movie_overview}"

    command = f"""
    SELECT * FROM cypher('movies_graph', $$
        MERGE (m:Movie {{id: '{movie_id}'}})
        SET m.title = '{movie_title}',
            m.overview = '{movie_overview}',
            m.combined_text = '{movie_combined_text}'
        RETURN m
    $$) as (m agtype);
    """

    try:
        with conn.cursor() as cursor:
            cursor.execute(command)
            conn.commit()
    except Exception as e:
        print(f"Error: {e}")
        conn.rollback()

    if idx % 500 == 0:
        print(f"Inserted {idx+1}/{len(movies_df)} movies")

Inserted 1/8551 movies
Inserted 501/8551 movies
Inserted 1001/8551 movies
Inserted 1501/8551 movies
Inserted 2001/8551 movies
Inserted 2501/8551 movies
Inserted 3001/8551 movies
Inserted 3501/8551 movies
Inserted 4001/8551 movies
Inserted 4501/8551 movies
Inserted 5001/8551 movies
Inserted 5501/8551 movies
Inserted 6001/8551 movies
Inserted 6501/8551 movies
Inserted 7001/8551 movies
Inserted 7501/8551 movies
Inserted 8001/8551 movies
Inserted 8501/8551 movies

Insert traits (metadata, communities) into graph

In [9]:
traits = {
    "genres": ("Genre", "IN_GENRE"),
    "characters": ("Character", "FEATURES_CHARACTER"),
    "themes": ("Theme", "INCLUDES_THEME"),
    "setting": ("Setting", "SET_IN"),
    "series": ("Series", "PART_OF_SERIES"),
}

batch_size = 200
resume_index = 0 

total_rows = len(movies_df)

for batch_start in range(resume_index, total_rows, batch_size):
    batch_end = min(batch_start + batch_size, total_rows)
    batch_df = movies_df.iloc[batch_start:batch_end]
    print(f"Processing movies {batch_start + 1} to {batch_end} out of {total_rows}")

    for idx, row in batch_df.iterrows():
        movie_id = str(row['id'])
        for trait_attr, (node_label, rel_type) in traits.items():
            trait_values = row.get(trait_attr)
            if not trait_values:
                continue
            for trait in trait_values:
                safe_trait = str(trait).replace("'", "\\'")
                cypher_query = f"""
                SELECT * FROM cypher('movies_graph', $$
                    MERGE (g:{node_label} {{name: '{safe_trait}'}})
                    WITH g
                    MATCH (m:Movie {{id: '{movie_id}'}})
                    MERGE (m)-[:{rel_type}]->(g)
                    RETURN m, g$$) as (m agtype, g agtype);
                """
                try:
                    with conn.cursor() as cursor:
                        cursor.execute(cypher_query)
                        conn.commit()
                except Exception as e:
                    print(f"{idx} -> Error processing movie id {movie_id} for {trait_attr} '{trait}': {e}")
                    conn.rollback()
    print(f"Finished batch: movies {batch_start + 1} to {batch_end}")

Processing movies 1 to 200 out of 8551
Finished batch: movies 1 to 200
Processing movies 201 to 400 out of 8551
Finished batch: movies 201 to 400
Processing movies 401 to 600 out of 8551
Finished batch: movies 401 to 600
Processing movies 601 to 800 out of 8551
Finished batch: movies 601 to 800
Processing movies 801 to 1000 out of 8551
Finished batch: movies 801 to 1000
Processing movies 1001 to 1200 out of 8551
Finished batch: movies 1001 to 1200
Processing movies 1201 to 1400 out of 8551
Finished batch: movies 1201 to 1400
Processing movies 1401 to 1600 out of 8551
Finished batch: movies 1401 to 1600
Processing movies 1601 to 1800 out of 8551
Finished batch: movies 1601 to 1800
Processing movies 1801 to 2000 out of 8551
Finished batch: movies 1801 to 2000
Processing movies 2001 to 2200 out of 8551
Finished batch: movies 2001 to 2200
Processing movies 2201 to 2400 out of 8551
Finished batch: movies 2201 to 2400
Processing movies 2401 to 2600 out of 8551
Finished batch: movies 2401 to 2600
Processing movies 2601 to 2800 out of 8551
Finished batch: movies 2601 to 2800
Processing movies 2801 to 3000 out of 8551
Finished batch: movies 2801 to 3000
Processing movies 3001 to 3200 out of 8551
Finished batch: movies 3001 to 3200
Processing movies 3201 to 3400 out of 8551
Finished batch: movies 3201 to 3400
Processing movies 3401 to 3600 out of 8551
Finished batch: movies 3401 to 3600
Processing movies 3601 to 3800 out of 8551
Finished batch: movies 3601 to 3800
Processing movies 3801 to 4000 out of 8551
Finished batch: movies 3801 to 4000
Processing movies 4001 to 4200 out of 8551
Finished batch: movies 4001 to 4200
Processing movies 4201 to 4400 out of 8551
Finished batch: movies 4201 to 4400
Processing movies 4401 to 4600 out of 8551
Finished batch: movies 4401 to 4600
Processing movies 4601 to 4800 out of 8551
Finished batch: movies 4601 to 4800
Processing movies 4801 to 5000 out of 8551
Finished batch: movies 4801 to 5000
Processing movies 5001 to 5200 out of 8551
Finished batch: movies 5001 to 5200
Processing movies 5201 to 5400 out of 8551
Finished batch: movies 5201 to 5400
Processing movies 5401 to 5600 out of 8551
Finished batch: movies 5401 to 5600
Processing movies 5601 to 5800 out of 8551
Finished batch: movies 5601 to 5800
Processing movies 5801 to 6000 out of 8551
Finished batch: movies 5801 to 6000
Processing movies 6001 to 6200 out of 8551
Finished batch: movies 6001 to 6200
Processing movies 6201 to 6400 out of 8551
Finished batch: movies 6201 to 6400
Processing movies 6401 to 6600 out of 8551
Finished batch: movies 6401 to 6600
Processing movies 6601 to 6800 out of 8551
Finished batch: movies 6601 to 6800
Processing movies 6801 to 7000 out of 8551
Finished batch: movies 6801 to 7000
Processing movies 7001 to 7200 out of 8551
Finished batch: movies 7001 to 7200
Processing movies 7201 to 7400 out of 8551
Finished batch: movies 7201 to 7400
Processing movies 7401 to 7600 out of 8551
Finished batch: movies 7401 to 7600
Processing movies 7601 to 7800 out of 8551
Finished batch: movies 7601 to 7800
Processing movies 7801 to 8000 out of 8551
Finished batch: movies 7801 to 8000
Processing movies 8001 to 8200 out of 8551
Finished batch: movies 8001 to 8200
Processing movies 8201 to 8400 out of 8551
Finished batch: movies 8201 to 8400
Processing movies 8401 to 8551 out of 8551
Finished batch: movies 8401 to 8551

### Test graph queries

Get genres

In [24]:
command = """
SELECT * FROM cypher('movies_graph', $$
MATCH (g:Genre)
RETURN DISTINCT g.name as name$$) as (name text);
"""

with conn.cursor() as cursor:
    cursor.execute(command)
    result = cursor.fetchall()
    columns = [desc[0] for desc in cursor.description]

pd.DataFrame(result, columns=columns)

            name
0       Neo-Noir
1         Parody
2        Slasher
3       Neo-noir
4        History
..           ...
148        Faith
149  Apocalyptic
150       Police
151  Period Film
152        Mecha

[153 rows x 1 columns]

Get settings

In [25]:
command = """
SELECT * FROM cypher('movies_graph', $$
MATCH (g:Theme)
RETURN DISTINCT g.name as name$$) as (name text);
"""

with conn.cursor() as cursor:
    cursor.execute(command)
    result = cursor.fetchall()
    columns = [desc[0] for desc in cursor.description]

pd.DataFrame(result, columns=columns)

                                 name
0                Professional Rivalry
1                         adolescence
2                          infidelity
3           Love overcoming adversity
4                             Slasher
...                               ...
3498                             love
3499         Power and Transformation
3500  Alliance against a common enemy
3501       Environmental Conservation
3502               Historical Fiction

[3503 rows x 1 columns]

In [ ]:
import json

theme = "love"
genre = "Slasher"

# command = f"""
# SELECT * FROM cypher('movies_graph', $$
#     MATCH (m:Movie)-[:IN_GENRE]->(g:Genre),
#           (m)-[:INCLUDES_THEME]->(t:Theme)
#     WHERE g.name = '{genre}' AND t.name = '{theme}'
#     RETURN m
# $$) as (m agtype);
# """

command = f"""
SELECT * FROM cypher('movies_graph', $$
    MATCH (m:Movie)-[:IN_GENRE]->(g:Genre),
          (m)-[:INCLUDES_THEME]->(t:Theme)
    WHERE t.name = '{theme}'
    RETURN m
$$) as (m agtype);
"""

def parse_agtype(s):
    s = s.strip()
    if s.endswith("::vertex"):
        s = s.rsplit("::", 1)[0]
    return json.loads(s)

with conn.cursor() as cursor:
    cursor.execute(command)
    result = cursor.fetchall()
    columns = [desc[0] for desc in cursor.description]

df = pd.DataFrame(result, columns=columns)

properties = df['m'].apply(lambda x: parse_agtype(x)['properties'] if isinstance(x, str) else x)
properties_df = pd.json_normalize(properties)

properties_df

### Clean up

In [ ]:
# # Create movies graph

# command = """
# SELECT drop_graph('movies_graph', true);
# """

# try:
#     with conn.cursor() as cursor:
#         cursor.execute(command)
#         conn.commit()
# except psycopg2.Error as e:
#     print(f"Error: {e}")
#     conn.rollback()