# RAG demo level 3 - reference with 200 movies semantic search

In [14]:
questions = [
    "What movies are about Abby?",
    "I have seen all Star Wars movies and would like tips for something similar I can watch next.",
    "What is the most common genre of the movies where one of key figures is called Mark?",
    "Are there any movies where Prague takes major role and present city as mysterious and ancient?",
    "When movies about drugs are concerned, is it usually rather serious or funny?",
    "What are some movies featuring a strong female lead that also involve adventure?",
    "Which Western films feature outlaws riding to their doom in the American Southwest?"
]

In [15]:
import subprocess
import os
import json

original_dir = os.getcwd()
try:
    # Jump into the terraform directory
    os.chdir('terraform')

    # Get the database connection string
    SQL_DATABASE = subprocess.run(['terraform', 'output', '-raw', 'SQL_DATABASE'], stdout=subprocess.PIPE).stdout.decode('utf-8')
    SQL_USERNAME = subprocess.run(['terraform', 'output', '-raw', 'SQL_USERNAME'], stdout=subprocess.PIPE).stdout.decode('utf-8')
    SQL_PASSWORD = subprocess.run(['terraform', 'output', '-raw', 'SQL_PASSWORD'], stdout=subprocess.PIPE).stdout.decode('utf-8')
    SQL_SERVER_FQDN = subprocess.run(['terraform', 'output', '-raw', 'SQL_SERVER_FQDN'], stdout=subprocess.PIPE).stdout.decode('utf-8')

    # Get the embedding model endpoint and key
    model_configurations = subprocess.run(['terraform', 'output', '-raw', 'model_configurations'], stdout=subprocess.PIPE).stdout.decode('utf-8')
    model_config = json.loads(model_configurations)
    embedding_model = model_config["models"]["text-embedding-3-large"]
    EMBEDDINGS_ENDPOINT = embedding_model["endpoint"]
    EMBEDDINGS_KEY = embedding_model["key"]
    gpt_4o_mini_model = model_config["models"]["gpt-4o-mini"]
    GPT_4O_MINI_ENDPOINT = gpt_4o_mini_model["endpoint"]
    GPT_4O_MINI_KEY = gpt_4o_mini_model["key"]
    gpt_4o_model = model_config["models"]["gpt-4o"]
    GPT_4O_ENDPOINT = gpt_4o_model["endpoint"]
    GPT_4O_KEY = gpt_4o_model["key"]

    print(f"Using {SQL_SERVER_FQDN} as the database server")
    print(f"Using {EMBEDDINGS_ENDPOINT} as the embedding model endpoint")
    print(f"Using {GPT_4O_MINI_ENDPOINT} as the gpt-4o-mini model endpoint")
    print(f"Using {GPT_4O_ENDPOINT} as the gpt-4o model endpoint")

finally:
    os.chdir(original_dir)

Using sql-graphrag-psbv.database.windows.net as the database server
Using https://graphrag-psbv.openai.azure.com/ as the embedding model endpoint
Using https://graphrag-psbv.openai.azure.com/ as the gpt-4o-mini model endpoint
Using https://graphrag-psbv.openai.azure.com/ as the gpt-4o model endpoint

In [16]:
from openai import AzureOpenAI 
import pandas as pd
import pyodbc

# Azure SQL Entra login option
# conn_str = f"DRIVER={{ODBC Driver 18 for SQL Server}};SERVER={SQL_SERVER_FQDN};DATABASE={SQL_DATABASE};UID=tokubica@microsoft.com;Authentication=ActiveDirectoryInteractive;Encrypt=yes;"

# Azure SQL password login option
conn_str = f"DRIVER={{ODBC Driver 18 for SQL Server}};SERVER={SQL_SERVER_FQDN};DATABASE={SQL_DATABASE};UID={SQL_USERNAME};PWD={SQL_PASSWORD};Encrypt=yes;Charset=Latin1;"

conn = pyodbc.connect(conn_str)

gpt_embedding_client = AzureOpenAI(
    azure_endpoint=EMBEDDINGS_ENDPOINT,
    api_key=EMBEDDINGS_KEY,
    api_version="2025-02-01-preview",
)

gpt_4o_client = AzureOpenAI(  
    azure_endpoint=GPT_4O_ENDPOINT,  
    api_key=GPT_4O_KEY,  
    api_version="2024-05-01-preview",
)

gpt_4o_mini_client = AzureOpenAI(
    azure_endpoint=GPT_4O_MINI_ENDPOINT,  
    api_key=GPT_4O_MINI_KEY,  
    api_version="2024-05-01-preview",
)

In [27]:
import pandas as pd
from pandas import DataFrame
from IPython.display import display, Markdown
import jinja2
import time

max_retries = 20
retry_delay = 10

def get_embeddings(texts):
    for attempt in range(1, max_retries + 1):
        try:
            result = gpt_embedding_client.embeddings.create(
                input=texts,
                model="text-embedding-3-large",
                dimensions=1998,
            )
            break
        except Exception as e:
            if hasattr(e, "status_code") and e.status_code == 429:
                time.sleep(retry_delay)
            else:
                print(f"Embedding generation error: {e}")
                raise e
    return [json.dumps(item.embedding) for item in result.data]

def print_output(df_results: list[DataFrame], question: str, response: str = "") -> None:
    print("\n\n*************************************************")
    print(f"Top matching nodes for question: {question}")
    for idx, df in enumerate(df_results):
        display(df)
    print("LLM response:")
    display(Markdown(response))

def llm_final_answer(question: str, context_jsons: list[str]) -> str:
    with open("./prompts/query.jinja2", 'r') as f:
        system_prompt_template = jinja2.Template(f.read())
    system_prompt = system_prompt_template.render()
    messages = [{"role": "system", "content": system_prompt}]
    for context_json in context_jsons:
        messages.append({"role": "user", "content": context_json})
    messages.append({"role": "user", "content": question})
    
    for attempt in range(1, max_retries + 1):
        try:
            completion = gpt_4o_client.chat.completions.create(
                model="gpt-4o",
                messages=messages,
                max_tokens=1000,
                temperature=0.7,
            )
            break
        except Exception as e:
            if hasattr(e, "status_code") and e.status_code == 429:
                print(f"LLM response rate limited. Retrying in {retry_delay} seconds (Attempt {attempt}/{max_retries})")
                time.sleep(retry_delay)
            else:
                print(f"LLM response error: {e}")
                raise e
    else:
        raise Exception("Failed to get LLM final answer after maximum retries.")
    
    return completion.choices[0].message.content

def similarity_search(conn, query: str, top_k: int = 5):
    query_embedding = get_embeddings([query])[0]
    cursor = conn.cursor()
    command = f"""
    DECLARE @q VECTOR(1998) = '{query_embedding}';
    SELECT TOP {top_k} Id, Content, vector_distance('cosine', Embedding, @q) AS Similarity
    FROM [dbo].[Movie]
    WHERE Embedding IS NOT NULL AND Content IS NOT NULL
    ORDER BY Similarity ASC
    """

    cursor.execute(command)
    rows = cursor.fetchall()

    columns = [column[0] for column in cursor.description]
    result = [dict(zip(columns, row)) for row in rows]
    
    return result

In [28]:
for question in questions:
    context_json = json.dumps(similarity_search(conn, question, top_k=200))
    answer = llm_final_answer(question, [context_json])
    print_output([pd.DataFrame(json.loads(context_json))], question, answer)

*************************************************
Top matching nodes for question: What movies are about Abby?

         Id                                            Content  Similarity
0     11082  TITLE: The Seventh Sign OVERVIEW: Abby is a pr...    0.500736
1     78383  TITLE: Nurse 3-D OVERVIEW: Abby Russell, a bea...    0.552392
2     40205  TITLE: 16 Wishes OVERVIEW: The story about Abb...    0.584054
3      2005  TITLE: Sister Act OVERVIEW: A Reno singer witn...    0.593369
4    362057  TITLE: Martyrs OVERVIEW: A woman and her child...    0.598343
..      ...                                                ...         ...
195  416051  TITLE: Based on a True Story OVERVIEW: Delphin...    0.659827
196   13824  TITLE: Superstar OVERVIEW: Orphan Mary Katheri...    0.659923
197  396810  TITLE: The Last Word OVERVIEW: A retired busin...    0.659989
198  146229  TITLE: Kristy OVERVIEW: When a college girl wh...    0.659991
199  340481  TITLE: The Unknown Girl OVERVIEW: Jenny, a you...    0.660040

[200 rows x 3 columns]

LLM response:

Here are the movies featuring characters named Abby:

1. **The Seventh Sign**
   - **Overview**: Abby is a pregnant woman who has a mysterious boarder living in the apartment above her garage. This boarder turns out to be heaven-sent and is accelerating the apocalypse by following scripture, causing rivers to run bloody and plagues to emerge.

2. **Nurse 3-D**
   - **Overview**: Abby Russell is a beautiful yet sinister nurse with a dark secret. She leads a double life, targeting and punishing men who are dishonest.

3. **16 Wishes**
   - **Overview**: Abby Jensen is a teenager who has been eagerly waiting for her 16th birthday and has kept a secret wish list since she was a little girl. On her big day, disaster strikes, but magical birthday candles help her wishes come true. However, one wish threatens to change everything.

*************************************************
Top matching nodes for question: I have seen all Star Wars movies and would like tips for something similar I can watch next.

         Id                                            Content  Similarity
0      1893  TITLE: Star Wars: Episode I - The Phantom Mena...    0.545907
1        11  TITLE: Star Wars OVERVIEW: Princess Leia is ca...    0.574354
2    140607  TITLE: Star Wars: The Force Awakens OVERVIEW: ...    0.578616
3     74849  TITLE: The Star Wars Holiday Special OVERVIEW:...    0.580689
4      1891  TITLE: The Empire Strikes Back OVERVIEW: The e...    0.587486
..      ...                                                ...         ...
195  176983  TITLE: One Piece Film: Z OVERVIEW: Zephyr, now...    0.739766
196    2267  TITLE: The Last Mimzy OVERVIEW: Two siblings b...    0.739850
197   28874  TITLE: Summer Wars OVERVIEW: Kenji is your typ...    0.739944
198  614911  TITLE: The Midnight Sky OVERVIEW: A lone scien...    0.740245
199   10513  TITLE: Plan 9 from Outer Space OVERVIEW: In Ca...    0.740286

[200 rows x 3 columns]

LLM response:

If you're looking for movies similar to *Star Wars*, here are some recommendations that align with the sci-fi adventure, space exploration, and hero-driven narratives you might enjoy:

1. **Rogue One: A Star Wars Story**
   If you haven't seen this standalone *Star Wars* film yet, it's a perfect choice. It follows a rogue band of resistance fighters on a mission to steal the Death Star plans, offering a grittier and more grounded take on the *Star Wars* universe.

2. **Interstellar**
   This movie delves into space exploration and has a strong emotional core, akin to the human connections explored in the *Star Wars* saga. It’s about a group of explorers searching for a new home for humanity while traversing mind-bending scientific challenges.

3. **Guardians of the Galaxy**
   This Marvel film combines humor, action, and a ragtag team of heroes in a spacefaring adventure. The dynamic between the characters and the vibrant world-building is reminiscent of the lighter, adventurous tone of *Star Wars*.

4. **Starship Troopers**
   A thrilling sci-fi film with military undertones, focusing on humanity's war against an alien species. It has action-packed battles and a commentary on society, making it a darker but engaging choice.

5. **Treasure Planet**
   This animated film offers a unique blend of adventure and space exploration. It’s inspired by *Treasure Island* but set in space, with a young protagonist embarking on a journey to find intergalactic treasure.

6. **The Fifth Element**
   A sci-fi classic with quirky characters, colorful visuals, and an epic battle to save humanity from destruction. Its mix of humor, action, and futuristic settings might remind you of the *Star Wars* vibe.

7. **Avatar**
   Directed by James Cameron, this film takes you to the moon Pandora and explores themes of resistance, environmentalism, and human-alien interaction—similar to how *Star Wars* tackles interplanetary conflicts and cultural clashes.

8. **Spaceballs**
   If you’re in the mood for something lighthearted, this parody of *Star Wars* is hilarious and pokes fun at many sci-fi tropes. It’s a fun way to revisit the genre with a comedic twist.

9. **Star Trek (2009)**
   The reboot of the *Star Trek* franchise offers a fresh, action-packed take on space exploration. The dynamic between Kirk and Spock provides compelling character drama, much like Luke and Han in *Star Wars*.

10. **Dune**
    Whether you choose the 1984 original or the newer adaptation, *Dune* offers a sprawling sci-fi world with political intrigue, epic battles, and mystical elements that echo themes from *Star Wars*.

11. **Serenity**
    A continuation of the *Firefly* TV series, this film follows a crew of renegades navigating interplanetary conflicts and a mysterious government conspiracy. The blend of humor, action, and camaraderie will feel familiar to *Star Wars* fans.

These films share similar elements of epic storytelling, space battles, and dynamic characters, providing plenty of options to explore after diving deep into the *Star Wars* universe!

*************************************************
Top matching nodes for question: What is the most common genre of the movies where one of key figures is called Mark?

         Id                                            Content  Similarity
0     37799  TITLE: The Social Network OVERVIEW: On a fall ...    0.603854
1    351044  TITLE: Welcome to Marwen OVERVIEW: When a deva...    0.623088
2    286217  TITLE: The Martian OVERVIEW: During a manned m...    0.642731
3     38842  TITLE: Middle Men OVERVIEW: Chronicles Jack Ha...    0.647975
4    227348  TITLE: Paranormal Activity: The Marked Ones OV...    0.649171
..      ...                                                ...         ...
195  345067  TITLE: Torno indietro e cambio vita OVERVIEW: ...    0.706430
196  354287  TITLE: War Machine OVERVIEW: A rock star gener...    0.706522
197  103332  TITLE: Ruby Sparks OVERVIEW: Calvin is a young...    0.706610
198   50321  TITLE: Mars Needs Moms OVERVIEW: When Martians...    0.706652
199   10731  TITLE: The Client OVERVIEW: A street-wise kid,...    0.706886

[200 rows x 3 columns]

LLM response:

Based on the context provided, the movies that feature a key figure named "Mark" span a diverse range of genres. However, the most common genres appear to be **drama**, **thriller**, and **biography**, with elements of **action**, **comedy**, and **science fiction** also appearing frequently.

Here are some examples of genres associated with movies featuring characters named Mark:

1. **Drama**:
   - *The Social Network* (Biography/Drama)
   - *Welcome to Marwen* (Drama)
   - *Trainspotting* (Drama)

2. **Thriller**:
   - *The Martian* (Science Fiction/Thriller)
   - *Margin Call* (Thriller)
   - *Marked for Death* (Action/Thriller)

3. **Biography**:
   - *The Social Network* (Biography/Drama)
   - *Mark Felt: The Man Who Brought Down the White House* (Biography/Drama)

4. **Action**:
   - *Beyond Skyline* (Action/Sci-Fi)
   - *Marked for Death* (Action/Thriller)

5. **Science Fiction**:
   - *The Martian* (Science Fiction/Thriller)

6. **Comedy**:
   - *Welcome to Marwen* (Comedy/Drama)
   - *The Map of Tiny Perfect Things* (Comedy/Drama/Fantasy)

While drama and thriller are the most prevalent genres in these movies, other genres such as science fiction and comedy are also notable.

*************************************************
Top matching nodes for question: Are there any movies where Prague takes major role and present city as mysterious and ancient?

         Id                                            Content  Similarity
0     41201  TITLE: The Illusionist OVERVIEW: A French illu...    0.570078
1    351339  TITLE: Anthropoid OVERVIEW: In December 1941, ...    0.573414
2      1092  TITLE: The Third Man OVERVIEW: In postwar Vien...    0.585744
3       217  TITLE: Indiana Jones and the Kingdom of the Cr...    0.590171
4      6687  TITLE: TransSiberian OVERVIEW: A TransSiberian...    0.590475
..      ...                                                ...         ...
195  449756  TITLE: The Postcard Killings OVERVIEW: After s...    0.659670
196   11044  TITLE: Arizona Dream OVERVIEW: An Innuit hunte...    0.659766
197   53487  TITLE: This Must Be the Place OVERVIEW: A bore...    0.659824
198    8852  TITLE: Prince of Darkness OVERVIEW: A research...    0.660053
199    3472  TITLE: Dirty Pretty Things OVERVIEW: An urban ...    0.660113

[200 rows x 3 columns]

LLM response:

Certainly! Based on the provided context, **"The Unbearable Lightness of Being"** is a movie where Prague plays a significant role and is depicted with an air of mystery and history. Here's a summary of the movie:

- **Title:** The Unbearable Lightness of Being
- **Overview:** Successful surgeon Tomas leaves Prague for an operation, meets a young photographer named Tereza, and brings her back with him. Tereza is surprised to learn that Tomas is already having an affair with the bohemian Sabina. When the Soviet invasion occurs, all three flee to Switzerland. Sabina begins an affair, Tomas continues womanizing, and Tereza, disgusted, returns to Czechoslovakia. Realizing his mistake, Tomas decides to chase after her.

Prague is integral to the setting of the film, as it captures the city's historical and cultural essence during the politically tumultuous period of the Soviet invasion. The ancient and mysterious vibe of the city is woven into the narrative, reflecting the characters' emotional and cultural struggles.

*************************************************
Top matching nodes for question: When movies about drugs are concerned, is it usually rather serious or funny?

         Id                                            Content  Similarity
0      1900  TITLE: Traffic OVERVIEW: An exploration of the...    0.541382
1      4133  TITLE: Blow OVERVIEW: A boy named George Jung ...    0.582904
2     11455  TITLE: Up in Smoke OVERVIEW: An unemployed pot...    0.597793
3       476  TITLE: Drugstore Cowboy OVERVIEW: Portland, Or...    0.606662
4      9589  TITLE: Christiane F. OVERVIEW: This movie port...    0.609564
..      ...                                                ...         ...
195  426249  TITLE: Lords of Chaos OVERVIEW: A teenager's q...    0.704032
196   82633  TITLE: Lawless OVERVIEW: Set in the Depression...    0.704053
197   11134  TITLE: Police Story 3: Super Cop OVERVIEW: A H...    0.704053
198   10234  TITLE: Funny Games OVERVIEW: Two psychotic you...    0.704159
199  460059  TITLE: Burn Out OVERVIEW: Tony, a promising yo...    0.704261

[200 rows x 3 columns]

LLM response:

Movies about drugs can span a wide range of tones and genres, meaning they can be either serious or funny depending on the story being told and the filmmaker's intent. Here's how these tones manifest in drug-related films:

### **Serious Films**
These movies often explore the darker, more dramatic elements of drug culture, addiction, and crime. They focus on the societal impact, personal struggles, and moral dilemmas that arise from involvement with drugs. Examples include:
- **"Traffic"**: A multi-perspective exploration of the war on drugs, tackling personal, political, and societal consequences.
- **"Requiem for a Dream"**: A harrowing look at addiction and how it devastates the lives of its characters.
- **"American Gangster"**: A serious crime drama about the rise and fall of a heroin kingpin in Harlem.
- **"Trainspotting"**: A gritty portrayal of heroin addiction and its impact on a group of friends in Edinburgh.

### **Funny Films**
On the lighter side, many drug-related films use humor to depict absurd or exaggerated situations involving drugs. These films often focus on misadventures or comedic outcomes rather than the grim realities of drug use. Examples include:
- **"Up in Smoke"**: A classic stoner comedy about two potheads embarking on a series of misadventures.
- **"Half Baked"**: A lighthearted story about three friends trying to bail their buddy out of jail.
- **"Pineapple Express"**: A stoner action-comedy involving a marijuana user and his dealer who get caught up in a murder case.
- **"Harold & Kumar Go to White Castle"**: A comedic journey of two stoners on a mission to satisfy their munchies.

### **Mixed Tone**
Some films combine humor and seriousness to explore the complexities of drug culture in a balanced way:
- **"Fear and Loathing in Las Vegas"**: Both absurdly funny and deeply unsettling, this movie captures the surreal effects of extreme drug use.
- **"The Gentlemen"**: A crime comedy about a marijuana empire, blending dark humor with intense moments.

### Conclusion
Whether serious or funny, movies about drugs often reflect the multifaceted nature of drug culture. Serious films tend to focus on the impact of drugs on individuals and society, while funny films lean into the absurdity and misadventures associated with drug use. The tone ultimately depends on the filmmaker's approach and the story being told.

*************************************************
Top matching nodes for question: What are some movies featuring a strong female lead that also involve adventure?

         Id                                            Content  Similarity
0      9326  TITLE: Romancing the Stone OVERVIEW: Though sh...    0.564941
1      4421  TITLE: G.I. Jane OVERVIEW: A female Senator su...    0.570583
2    338970  TITLE: Tomb Raider OVERVIEW: Lara Croft, the f...    0.573799
3    240832  TITLE: Lucy OVERVIEW: A woman, accidentally ca...    0.577395
4      1995  TITLE: Lara Croft: Tomb Raider OVERVIEW: Engli...    0.582741
..      ...                                                ...         ...
195   12085  TITLE: Mad Money OVERVIEW: Three female employ...    0.686750
196    9593  TITLE: Last Action Hero OVERVIEW: Danny is obs...    0.686788
197    9053  TITLE: DOA: Dead or Alive OVERVIEW: Four beaut...    0.686835
198      11  TITLE: Star Wars OVERVIEW: Princess Leia is ca...    0.686903
199    8130  TITLE: Desperately Seeking Susan OVERVIEW: Rob...    0.686963

[200 rows x 3 columns]

LLM response:

Here are some movies featuring strong female leads in adventure-driven narratives:

1. **Romancing the Stone** (1984): Novelist Joan Wilder finds herself on a thrilling adventure in South America to rescue her abducted sister after receiving a mysterious package. Her journey takes her deep into the jungle, where she faces unexpected challenges.

2. **Lara Croft: Tomb Raider** (2001): Lara Croft, an English aristocrat and archaeologist, takes on a secret society while recovering lost antiquities and battling the villain Powell, who seeks a powerful relic.

3. **Tomb Raider** (2018): Lara Croft, the daughter of a missing adventurer, embarks on an adventure to a mysterious island to uncover the truth behind her father's disappearance.

4. **Wonder Woman** (2017): Amazonian princess Diana defies her people’s rules and ventures into the human world during World War I to confront evil and bring peace.

5. **Brave** (2012): Princess Mérida, an accomplished archer, defies sacred customs in the Scottish Highlands, setting off on a unique adventure that challenges her courage and resourcefulness.

6. **EverAfter** (1998): Set in 16th-century France, Danielle, a spirited woman with a love for books, embarks on a journey that intertwines romance and her quest for justice.

7. **The River Wild** (1994): Gail, a rafting expert, uses her skills to confront armed killers while navigating a violent river during a family vacation.

8. **Wild** (2014): A woman with a tragic past decides to hike a thousand miles on the Pacific Crest Trail to rediscover herself and find a new meaning in life.

9. **Tracks** (2013): An Australian woman undertakes a solo journey across the desert, accompanied only by her dog and camels, in search of solitude and self-discovery.

10. **Cutthroat Island** (1995): Morgan Adams, a female pirate, leads her crew on a perilous quest to recover pieces of a treasure map while battling familial betrayal and external threats.

These films showcase strong female protagonists who overcome challenges, embark on daring journeys, and redefine their destinies.

*************************************************
Top matching nodes for question: Which Western films feature outlaws riding to their doom in the American Southwest?

        Id                                            Content  Similarity
0      576  TITLE: The Wild Bunch OVERVIEW: Aging outlaw, ...    0.438358
1    10747  TITLE: The Outlaw Josey Wales OVERVIEW: After ...    0.463956
2      642  TITLE: Butch Cassidy and the Sundance Kid OVER...    0.478436
3      335  TITLE: Once Upon a Time in the West OVERVIEW: ...    0.485921
4     3088  TITLE: My Darling Clementine OVERVIEW: Wyatt E...    0.490831
..     ...                                                ...         ...
195   2099  TITLE: Raw Deal OVERVIEW: Mark Kaminsky is kic...    0.660070
196    227  TITLE: The Outsiders OVERVIEW: When two poor G...    0.660287
197  15417  TITLE: Every Which Way But Loose OVERVIEW: Phi...    0.660309
198   4476  TITLE: Legends of the Fall OVERVIEW: An epic t...    0.660623
199   1480  TITLE: Touch of Evil OVERVIEW: When a car bomb...    0.660802

[200 rows x 3 columns]

LLM response:

Several Western films feature outlaws riding to their doom in the American Southwest, often showcasing themes of betrayal, revenge, or redemption. Here are a few notable examples:

1. **The Wild Bunch**: Aging outlaw Pike Bishop plans to retire after one last robbery, but the heist turns out to be a setup by his former partner, Deke Thornton. As the gang escapes into Mexican territory, they face fierce gunfights and high casualties, ultimately riding toward their grim fate.

2. **Butch Cassidy and the Sundance Kid**: Set in the late 1890s in Wyoming, Butch Cassidy and the Sundance Kid lead a gang of outlaws. Pursued relentlessly by lawmen, they flee to South America in a desperate attempt to escape, ultimately facing their doom as the world modernizes around them.

3. **The Assassination of Jesse James by the Coward Robert Ford**: Outlaw Jesse James, notorious for being the "fastest gun in the West," meets his end when jealousy and betrayal by Robert Ford lead to his assassination, solidifying his legendary status in the American Southwest.

4. **3:10 to Yuma**: Both versions of this film depict infamous outlaw Ben Wade being transported to the "3:10 to Yuma" train for trial. His gang attempts to rescue him, leading to a tense and ultimately tragic showdown.

5. **Unforgiven**: Retired gunslinger William Munny takes on one last bounty-hunting mission to track down men who brutalized a prostitute. Joined by his former partner, Munny rides into a violent and unforgiving confrontation, showcasing the harsh realities of the Southwest.

6. **High Plains Drifter**: A mysterious gunfighter arrives in the settlement of Lago, where he is hired to protect the town from three outlaws. The stranger’s past and vengeance intertwine as doom looms for all involved.

These films offer dramatic portrayals of outlaws navigating the rugged landscapes and moral complexities of the American Southwest, often culminating in their inevitable downfall.